# DataFrame 복습

In [1]:
# 열병함
import pandas as pd
row1 = ["한국","한국어"]
row2 = ["미국","영어"]

# 칼럼의 갯수를 맞춰줘야한다.
finalRow= pd.DataFrame([row1,row2],columns=["나라","언어"])
finalRow

   나라   언어
0  한국  한국어
1  미국   영어

In [2]:
#칼럼 병합
import pandas as pd
list1 = [1998,"코끼리","울산"]
list2 = [1972,"강아지","서울"]
list3 = [1988,"고양이","부산"]

finalCol = pd.DataFrame(zip(list1,list2,list3),columns=["1번","2번","3번"])
finalCol

     1번    2번    3번
0  1998  1972  1988
1   코끼리   강아지   고양이
2    울산    서울    부산

In [10]:
customerDATA = pd.read_csv("../dataset/customer.csv")

In [11]:
# 데이터 프레임 타입조회
customerDATA.dtypes

balance     int64
stock       int64
label      object
dtype: object

In [55]:
# 데이터 확인
customerDATA.describe()

            balance         stock         STOCK
count  2.000000e+04  2.000000e+04  2.000000e+04
mean   5.602255e+08  3.876165e+07  3.876165e+07
std    1.978967e+08  1.541275e+07  1.541275e+07
min    3.000000e+07  1.750000e+07  1.750000e+07
25%    2.960000e+08  2.666667e+07  2.666667e+07
50%    6.360000e+08  3.550000e+07  3.550000e+07
75%    7.200000e+08  4.733333e+07  4.733333e+07
max    8.000000e+08  8.000000e+07  8.000000e+07

In [22]:
# 데이터 조회
customerDATA.loc[:,"stock"]
# 괄호 안에 변수를 한번 더 써주고 조건을 검색해야한다.
# 변수명 + 컬럼명
# 2가지 표현방식 : [customerDATA.stock>20000000]  [customerDATA["stock"]>20000000]

0        22500000
1        48000000
2        40666666
3        28000000
4        32000000
           ...
19995    44666666
19996    20000000
19997    41333333
19998    45333333
19999    26000000
Name: stock, Length: 20000, dtype: int64

In [60]:
# 각각의 컬럼 바꾸는 법
basicCol = list(customerDATA.columns)
for i in range (0,len(basicCol)) :
    customerDATA[basicCol[i].upper()] = customerDATA[basicCol[i]]
# 컬럼명 변경법
customerDATA.rename(columns={"stock":"stock_1"})

           balance   stock_1    label     STOCK    LABEL      BALANCE
0       30000000.0  22500000   normal  22500000   normal   30000000.0
1      280000000.0  48000000  diamond  48000000  diamond  280000000.0
2      300000000.0  40666666  diamond  40666666  diamond  300000000.0
3       54000000.0  28000000   normal  28000000   normal   54000000.0
4      768000000.0  32000000      vip  32000000      vip  768000000.0
...            ...       ...      ...       ...      ...          ...
19995  628000000.0  44666666  diamond  44666666  diamond  628000000.0
19996  276000000.0  20000000   normal  20000000   normal  276000000.0
19997  652000000.0  41333333  diamond  41333333  diamond  652000000.0
19998  676000000.0  45333333  diamond  45333333  diamond  676000000.0
19999  732000000.0  26000000  diamond  26000000  diamond  732000000.0

[20000 rows x 6 columns]

In [61]:
# 컬럼 drop
customerDATA = customerDATA.drop(columns=["BALANCE"])

In [62]:
# 중복값 제외하고 보기
customerDATA["LABEL"].drop_duplicates()

0     normal
1    diamond
4        vip
Name: LABEL, dtype: object

In [63]:
# 컬럼별 null보기
customerDATA["label"].isnull().sum()

0

In [64]:
# 데이터 타입의 변환
customerDATA.balance = customerDATA.balance.astype(float)

In [66]:
# 데이터 라벨링
# customerDATA["label"] = np.where(customerDATA.PROMOTION == "normal" , 1, 0)
# from sklearn.preprocessing import LabelEncoder 선언 후 
# LabelEn = LabelEncoder()
# customerDATA["label"] = LabelEn.fit_transform(customerDATA["label"])

In [68]:
# 데이터 정규화 - classification
# def minMaxNorm(indata) :
#     maxValue = max(indata)
#     minValue = min(indata)
#     deNormValue = maxValue - minValue

#     plusData = indata - minValue
#     outData = indata # 0을 넣기 위함

#     if deNormValue != 0 :
#         outData = plusData / deNormValue
#     else : 
#         pass
#     return outData

# 라이브러리에 동일한게 있다.
# from sklearn.preprocessing import minmax_scale 선언후
# customerDATA["balance_norm"] = minmax_scale(customerDATA.balance)

In [52]:
# 상관관계
corrDf = customerDATA.corr()
stdRatio = 0.3

In [53]:
# 관련성 있는 데이터 컬럼 추출
feature = list(corrDf.loc[(abs(corrDf.balance)>stdRatio)&(abs(corrDf.balance!=1))].index)
feature

['stock', 'STOCK']