# DataFrame 복습

In [4]:
# 열병함
import pandas as pd
row1 = ["한국","한국어"]
row2 = ["미국","영어"]

# 칼럼의 갯수를 맞춰줘야한다.
finalRow= pd.DataFrame([row1,row2],columns=["나라","언어"])
finalRow

   나라   언어
0  한국  한국어
1  미국   영어

In [5]:
#칼럼 병합
import pandas as pd
list1 = [1998,"코끼리","울산"]
list2 = [1972,"강아지","서울"]
list3 = [1988,"고양이","부산"]

finalCol = pd.DataFrame(zip(list1,list2,list3),columns=["생년","이름","지역"])
finalCol

     생년    이름    지역
0  1998  1972  1988
1   코끼리   강아지   고양이
2    울산    서울    부산