# DataFrame 복습

In [4]:
# 열병함
import pandas as pd
row1 = ["한국","한국어"]
row2 = ["미국","영어"]

# 칼럼의 갯수를 맞춰줘야한다.
finalRow= pd.DataFrame([row1,row2],columns=["나라","언어"])
finalRow

   나라   언어
0  한국  한국어
1  미국   영어

In [2]:
#칼럼 병합
import pandas as pd
list1 = [1998,"코끼리","울산"]
list2 = [1972,"강아지","서울"]
list3 = [1988,"고양이","부산"]

finalCol = pd.DataFrame(zip(list1,list2,list3),columns=["1번","2번","3번"])
finalCol

     1번    2번    3번
0  1998  1972  1988
1   코끼리   강아지   고양이
2    울산    서울    부산

In [ ]:
# 데이터 프레임 타입조회
customerDATA.dtypes

In [ ]:
# 데이터 조회
customerDATA.loc[customerDATA.EMI>2].head()
# 괄호 안에 변수를 한번 더 써주고 조건을 검색해야한다.
# 변수명 + 컬럼명
# 2가지 표현방식 : [customerDATA.EMI>2]  [customerDATA["EMI"]>2]

In [ ]:
# 각각의 컬럼 바꾸는 법
basicCol = list(featuresData.columns)
for i in range (0,len(basicCol)) :
    featuresData[basicCol[i].upper()] = featuresData[basicCol[i]]

In [ ]:
# 컬럼 drop
featuresData = featuresData.drop(columns=["LABEL"])

In [ ]:
# 중복값 제외하고 보기
featuresData.LABEL_LEN.drop_duplicates()

In [1]:
# 컬럼별 null보기
featuredData.isnull().sum()

In [ ]:
# 상관관계
featuredData.corr()