In [1]:
# LED_TV_를 붙여야한다.

In [2]:
inList = ["UN40EN001","UN40EN002","UN40EN003"]

In [3]:
# step1 : 문자열로 LED_TV_선언
preFix  = "LED_TV_"

In [4]:
# step2 : 리스트 0번을 불러서 문자열을 앞에 삽입한다.
# step3 : 리스트를 같이 업데이트한다
preFix + inList[0]
preFix + inList[1]

'LED_TV_UN40EN002'

In [5]:
# while문 사용
inList = ["UN40EN001","UN40EN002","UN40EN003"]
preFix  = "LED_TV_"

i = 0
while(i<len(inList)):
    inList[i] = preFix + inList[i]
    i+=1
inList

['LED_TV_UN40EN001', 'LED_TV_UN40EN002', 'LED_TV_UN40EN003']

In [8]:
# for문
tvList = [ "UN40EN001", "UN40EN002",
          "UN40EN003", "UN40EN004" ]

LenList = len(tvList)

preFix = "LEDTV_"

for i in range(0,LenList):
    tvList[i] = preFix+tvList[i]

tvList

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

# 디버깅

헤더 = 주석처리

In [42]:
tvList2 = [ "UN40EN001", "UN40EN002",
          "UN40EN003", "UN40EN004" ]

LenList = len(tvList2)

preFix = "LEDTV_"

In [43]:
i=0

In [44]:
# for i in range(0,LenList):
tvList2[i] = preFix+tvList2[i]
tvList2[i]

'LEDTV_UN40EN001'

# 실습

import pandas as pd

csData = pd.read_csv("../dataset/kopo_customerdata.csv")

csCodeData = list( csData.CUSTOMERCODE )

# preFix를 정의한다! "한국은행_"
# 전부 붙인다!

In [21]:
# while문 사용
import pandas as pd

csData = pd.read_csv("../dataset/kopo_customerdata.csv")

csCodeData = list( csData.CUSTOMERCODE )
# preFix를 정의한다! "한국은행_"
# 전부 붙인다!

prefix = "한국은행_"

# 전체 갯수 파악
csLen = len(csCodeData)
csLen

# 갯수만큼 반복, 숫자를 문자로 형변환 후 합치기
i=0
while(i < csLen):
    csCodeData[i] = prefix + str(csCodeData[i])
    i+=1

# csCodeData

In [22]:
pd.DataFrame(csCodeData ,columns = ["코드"]).head(5)

             코드
0  한국은행_1503989
1  한국은행_1190338
2  한국은행_1424715
3  한국은행_2483305
4  한국은행_1178802

In [14]:
# for문 사용
import pandas as pd

csData = pd.read_csv("../dataset/kopo_customerdata.csv")

csCodeData = list( csData.CUSTOMERCODE )
# preFix를 정의한다! "한국은행_"
# 전부 붙인다!

prefix = "한국은행_"

# 전체 갯수 파악
csLen = len(csCodeData)
csLen

# 갯수만큼 반복, 숫자를 문자로 형변환 후 합치기
for i in range(0,csLen):
    csCodeData[i] = prefix + str(csCodeData[i])
    i+=1

pd.DataFrame(csCodeData ,columns = ["코드"]).head(10)

             코드
0  한국은행_1503989
1  한국은행_1190338
2  한국은행_1424715
3  한국은행_2483305
4  한국은행_1178802
5   한국은행_859044
6   한국은행_734198
7  한국은행_1443485
8  한국은행_2340520
9   한국은행_697949

In [ ]:
cs.Data.CUSTOMERCODE = prefix + csData()