In [1]:
import pandas as pd
import numpy as np

In [2]:
baseData = pd.read_csv("./dataset/국가건강검진_혈압혈당_데이터.csv")
baseData

        SEX  BTH_G  SBP  DBP  FBS  DIS   BMI
0         1      1  116   78   94    4  16.6
1         1      1  100   60   79    4  22.3
2         1      1  100   60   87    4  21.9
3         1      1  111   70   72    4  20.2
4         1      1  120   80   98    4  20.0
...     ...    ...  ...  ...  ...  ...   ...
999995    2     27  120   70   81    2  23.1
999996    2     27  110   70  104    2  27.2
999997    2     27  115   53  110    1  25.2
999998    2     27  120   70   90    2  19.7
999999    2     27  116   73   92    4  17.6

[1000000 rows x 7 columns]

In [6]:
baseData.isnull().sum()

SEX      0
BTH_G    0
SBP      0
DBP      0
FBS      0
DIS      0
BMI      0
dtype: int64

In [7]:
baseData.describe()

,SEX,BTH_G,SBP,DBP,FBS,DIS,BMI
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.489773,13.905268,121.871763,75.787874,98.864428,3.471040,23.804029
std,0.499896,7.006442,14.561706,9.793411,22.981300,0.946151,3.297287
min,1.000000,1.000000,82.000000,50.000000,60.000000,1.000000,14.800000
25%,1.000000,9.000000,110.000000,70.000000,87.000000,3.000000,21.500000
50%,1.000000,14.000000,120.000000,76.000000,94.000000,4.000000,23.600000
75%,2.000000,19.000000,130.000000,80.000000,104.000000,4.000000,25.800000
max,2.000000,27.000000,190.000000,120.000000,358.000000,4.000000,40.300000

고혈압
전 고혈압 120-139/80-89
1단계 140-159/90-99
2단계 160~/100~

저혈압
~100/~60

공복혈당
정상 : 70~100 

당뇨병 전 단계
공복 혈당 장애 : 100 ~ 125
내당능 장애 : 140 ~ 199

In [15]:
manData = baseData.loc[baseData["SEX"]==1]
manData

        SEX  BTH_G  SBP  DBP  FBS  DIS   BMI
0         1      1  116   78   94    4  16.6
1         1      1  100   60   79    4  22.3
2         1      1  100   60   87    4  21.9
3         1      1  111   70   72    4  20.2
4         1      1  120   80   98    4  20.0
...     ...    ...  ...  ...  ...  ...   ...
510222    1     27  125   70   92    2  21.3
510223    1     27  112   60  182    1  20.7
510224    1     27  123   51  129    1  24.6
510225    1     27  110   70  165    3  20.0
510226    1     27  130   67   91    1  23.0

[510227 rows x 7 columns]

In [16]:
womenData = baseData.loc[baseData["SEX"]==2]
womenData = womenData.reset_index(drop=True)
womenData

        SEX  BTH_G  SBP  DBP  FBS  DIS   BMI
0         2      1  115   75   93    4  21.9
1         2      1   93   75   94    4  17.9
2         2      1  110   80   71    4  17.7
3         2      1  120   71  102    4  22.6
4         2      1   90   60   70    4  18.0
...     ...    ...  ...  ...  ...  ...   ...
489768    2     27  120   70   81    2  23.1
489769    2     27  110   70  104    2  27.2
489770    2     27  115   53  110    1  25.2
489771    2     27  120   70   90    2  19.7
489772    2     27  116   73   92    4  17.6

[489773 rows x 7 columns]

In [17]:
import matplotlib.pyplot as plt

labels = manData["SEX"]
values = manData["DIS"]
plt.bar(labels, values)