# 라이브러리 선언

In [1]:
import pandas as pd

In [2]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import tree

In [3]:
import pickle

In [4]:
# 데이터 불러오기

In [5]:
secondStepDf = pd.read_csv("../test/Financial_Product_Recommendation.csv")

In [6]:
secondStepDf

       FINANCIALPRODUCT  GENDER  AGE  CUST_TYPE  INCOME  FOREINERINDEX
0                  급여계좌       0    2          0       5              0
1                  신용카드       0    2          0       5              0
2                  신용카드       0    3          0       5              1
3                    증권       0    3          0       5              1
4                  급여계좌       1    3          0       3              1
...                 ...     ...  ...        ...     ...            ...
547143             급여계좌       0    5          0       5              1
547144             급여계좌       1    3          0       1              1
547145            주니어계좌       0    1          0       3              1
547146             급여계좌       1    2          0       5              0
547147             신용카드       1    2          0       5              0

[547148 rows x 6 columns]

# 컬럼명 설정

### 상품 가입자만 조회

In [7]:
secondStepDf = secondStepDf.loc[secondStepDf.FINANCIALPRODUCT != "0"]

In [8]:
secondStepDf = secondStepDf.reset_index(drop=True)

### feature, label 선언

In [9]:
secondStepDf.columns

Index(['FINANCIALPRODUCT', 'GENDER', 'AGE', 'CUST_TYPE', 'INCOME',
       'FOREINERINDEX'],
      dtype='object')

In [10]:
feature = ['GENDER', 'AGE', 'CUST_TYPE', 'INCOME', 'FOREINERINDEX']

In [11]:
label = ['FINANCIALPRODUCT']

In [12]:
featureData = secondStepDf.loc[:,feature]
labelData = secondStepDf.loc[:,label]

### 학습, 훈련 분리

In [13]:
training_feature,\
test_feature,\
training_label,\
test_label = train_test_split(featureData, labelData, test_size=0.3, random_state=10)

In [14]:
print(training_feature.shape)
print(training_label.shape)
print(test_feature.shape)
print(test_label.shape)

(383003, 5)
(383003, 1)
(164145, 5)
(164145, 1)

# 모델 선언

In [15]:
tree_model = tree.DecisionTreeClassifier(random_state=10)

### 학습

In [16]:
tree_model.fit(X = training_feature,
               y = training_label)

DecisionTreeClassifier(random_state=10)

### 예측

In [17]:
pred_tree = tree_model.predict(X=test_feature) #타입:np.array

pred_tree = pd.DataFrame(pred_tree, columns=["pred_tree"])

test_label = test_label.reset_index(drop=True)

accuracy_tree = accuracy_score(test_label, pred_tree)

In [18]:
accuracy_tree

0.45328215906667885

# pickle 저장

In [19]:
with open("./tree_model.pickle","wb") as fw:
    pickle.dump(tree_model,fw)