In [1]:
import pandas as pd
import numpy as np

In [2]:
import tqdm

In [3]:
baseData = pd.read_csv("../data/train_ver2.csv")

C:\Users\caose\AppData\Local\Temp\ipykernel_5176\3097669333.py:1: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  baseData = pd.read_csv("../data/train_ver2.csv")

In [4]:
### 3개월 데이터로 줄인다. 값이 너무 많아서 최근의 추세로 판단하겠다

In [5]:
base1 = baseData.loc[baseData.fecha_dato == "2016-04-28"]

In [6]:
base2 = baseData.loc[baseData.fecha_dato == "2016-05-28"]

In [7]:
base3 = baseData.loc[baseData.fecha_dato == "2016-03-28"]

In [8]:
data1 = base1.append(base2, ignore_index=True)

C:\Users\caose\AppData\Local\Temp\ipykernel_5176\4183799191.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1 = base1.append(base2, ignore_index=True)

In [9]:
data1 = data1.append(base3, ignore_index=True)

C:\Users\caose\AppData\Local\Temp\ipykernel_5176\2843191399.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1 = data1.append(base3, ignore_index=True)

In [10]:
data1.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

# 3개의 컬럼이 동시에 null인 경우
null_index_count = len(data1[["pais_residencia", "indresi", "indext"]].loc[data1[["pais_residencia", "indresi", "indext"]].isnull().all(axis=1)])
null_index_count

In [11]:
data1 = data1.reset_index(drop=True)

In [12]:
data1.head(3)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2016-04-28,896836,N,ES,H,72,2010-11-12,0.0,65,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2016-04-28,896837,N,ES,H,57,2010-11-12,0.0,65,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2016-04-28,896839,N,ES,V,39,2010-11-12,0.0,65,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

# 기존
data1 = data1.drop(['fecha_dato', 'ncodpers','ind_empleado','pais_residencia','fecha_alta','ind_nuevo','indrel','ult_fec_cli_1t',\
                    'conyuemp','canal_entrada','indfall','tipodom','cod_prov','nomprov','ind_actividad_cliente',\
                    'ind_aval_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1',\
                    'ind_ctpp_fin_ult1','ind_ecue_fin_ult1','ind_hip_fin_ult1',\
                    'ind_reca_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1',\
                    'ind_cco_fin_ult1','ind_cder_fin_ult1',"antiguedad",'indrel_1mes','tiprel_1mes'], axis=1)

In [13]:
# 기존
data1 = data1.drop(['fecha_dato', 'ncodpers','ind_empleado','pais_residencia','fecha_alta','ind_nuevo','indrel','ult_fec_cli_1t',\
                    'conyuemp','canal_entrada','indfall','tipodom','cod_prov','nomprov','ind_actividad_cliente',\
                    'ind_aval_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1',\
                    'ind_ctpp_fin_ult1','ind_ecue_fin_ult1','ind_hip_fin_ult1',\
                    'ind_reca_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1',\
                    'ind_cco_fin_ult1','ind_cder_fin_ult1',"antiguedad",'indrel_1mes','tiprel_1mes',\
                    'ind_deco_fin_ult1','ind_deme_fin_ult1','ind_ahor_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1'], axis=1)

In [14]:
# label이 될 컬럼을 상품명으로 변경



# data1.loc[data1['ind_deco_fin_ult1'] == 1, 'ind_deco_fin_ult1'] = '단기예금'
# data1.loc[data1['ind_deme_fin_ult1'] == 1, 'ind_deme_fin_ult1'] = '중기예금'
data1.loc[data1['ind_dela_fin_ult1'] == 1, 'ind_dela_fin_ult1'] = '예금'
# data1.loc[data1['ind_ahor_fin_ult1'] == 1, 'ind_ahor_fin_ult1'] = '저축계좌'
data1.loc[data1['ind_cno_fin_ult1'] == 1, 'ind_cno_fin_ult1'] = '급여계좌'
data1.loc[data1['ind_ctju_fin_ult1'] == 1, 'ind_ctju_fin_ult1'] = '주니어계좌'
data1.loc[data1['ind_fond_fin_ult1'] == 1, 'ind_fond_fin_ult1'] = '펀드계좌'
# data1.loc[data1['ind_plan_fin_ult1'] == 1, 'ind_plan_fin_ult1'] = '연금'
# data1.loc[data1['ind_pres_fin_ult1'] == 1, 'ind_pres_fin_ult1'] = '대출'
data1.loc[data1['ind_tjcr_fin_ult1'] == 1, 'ind_tjcr_fin_ult1'] = '신용카드'
data1.loc[data1['ind_valo_fin_ult1'] == 1, 'ind_valo_fin_ult1'] = '증권'

data1 = data1.dropna()

In [15]:
oneStepDf = data1.copy()

In [16]:
oneStepDf

,sexo,age,indresi,indext,renta,segmento,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,H,72,S,N,315824.52,02 - PARTICULARES,0,0,0,0,0,0
1,H,57,S,N,NaN,02 - PARTICULARES,0,0,0,0,0,0
2,V,39,S,N,46618.47,02 - PARTICULARES,0,0,0,0,0,0
3,H,71,S,N,205204.11,02 - PARTICULARES,0,0,0,0,0,0
4,V,25,S,N,100300.17,03 - UNIVERSITARIO,급여계좌,0,0,0,신용카드,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2784798,V,23,S,N,86176.89,03 - UNIVERSITARIO,0,0,0,0,0,0
2784799,H,23,S,N,171354.90,03 - UNIVERSITARIO,0,0,0,0,0,0
2784800,V,23,S,N,119612.49,03 - UNIVERSITARIO,0,0,0,0,0,0
2784801,V,23,S,N,275829.48,03 - UNIVERSITARIO,0,0,0,0,0,0
2784802,H,26,S,S,18151.14,03 - UNIVERSITARIO,0,0,0,0,0,0

# 칼럼 처리

### 총소득

r1 = len(oneStepDf.loc[oneStepDf["renta"] < 25000])
rate1 = r1
rate1

r2 = len(oneStepDf.loc[oneStepDf["renta"] < 50000])
rate2 = r2 - r1
rate2

r3 = len(oneStepDf.loc[oneStepDf["renta"] < 75000])
rate3 = r3 - r2
rate3

r4 = len(oneStepDf.loc[oneStepDf["renta"] < 100000])
rate4 = r4 - r3
rate4

rate5 = len(oneStepDf.loc[oneStepDf["renta"] > 100000])
rate5

len(oneStepDf.renta) - (rate1 + rate2 + rate3 + rate4 + rate5)

In [17]:
oneStepDf["renta"] = oneStepDf["renta"].fillna(25000)

In [18]:
oneStepDf["renta"] = oneStepDf["renta"].astype(int)

In [19]:
oneStepDf["renta"] = np.where(oneStepDf.renta <= 25000,1, # 2만5천
                     np.where(oneStepDf.renta <= 50000,2, # 5만
                     np.where(oneStepDf.renta <= 75000,3, # 7만5천
                     np.where(oneStepDf.renta <= 100000,4,5)))) #10만, 나머지 5로 분류

In [20]:
oneStepDf["renta"].drop_duplicates()

0     5
1     1
2     2
7     3
13    4
Name: renta, dtype: int32

### 나이

In [21]:
oneStepDf["age"] = oneStepDf["age"].astype(int)

In [22]:
print(max(oneStepDf["age"]))
print(min(oneStepDf["age"]))

164
2

# 정확도 1% 하락
oneStepDf["age"] = np.where(oneStepDf.age<=19,1, #미성년
                   np.where(oneStepDf.age<=49,2, #청년
                   np.where(oneStepDf.age<=79,3, #중년
                   np.where(oneStepDf.age<=89,4, 5 #장년

In [23]:
oneStepDf["age"] = np.where(oneStepDf.age<=9,0,
                   np.where(oneStepDf.age<=19,1,
                   np.where(oneStepDf.age<=29,2,
                   np.where(oneStepDf.age<=39,3,
                   np.where(oneStepDf.age<=49,4,
                   np.where(oneStepDf.age<=59,5,
                   np.where(oneStepDf.age<=69,6,
                   np.where(oneStepDf.age<=79,7,
                   np.where(oneStepDf.age<=89,8,
                   np.where(oneStepDf.age<=99,9,10))))))))))

In [24]:
oneStepDf["age"]

0          7
1          5
2          3
3          7
4          2
          ..
2784798    2
2784799    2
2784800    2
2784801    2
2784802    2
Name: age, Length: 2784803, dtype: int32

### 성별

In [25]:
oneStepDf.sexo.drop_duplicates()

0           H
2           V
302702    NaN
Name: sexo, dtype: object

In [26]:
dict = {"V":0, "H":1}

oneStepDf.sexo = oneStepDf.sexo.str.upper()
oneStepDf.sexo = oneStepDf.sexo.map(dict)

r1 = len(oneStepDf.loc[oneStepDf.sexo == 1.0])
r1

r2 = len(oneStepDf.loc[oneStepDf.sexo == 0])
r2

len(oneStepDf.sexo) - (r1+r2)

In [27]:
oneStepDf.sexo = oneStepDf.sexo.fillna(1)

oneStepDf.sexo = np.where(oneStepDf.sexo=='H', "1", "0")

In [28]:
oneStepDf.sexo = oneStepDf.sexo.astype(int)

In [29]:
oneStepDf.sexo.dtype

dtype('int32')

In [30]:
oneStepDf.head()

,sexo,age,indresi,indext,renta,segmento,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,1,7,S,N,5,02 - PARTICULARES,0,0,0,0,0,0
1,1,5,S,N,1,02 - PARTICULARES,0,0,0,0,0,0
2,0,3,S,N,2,02 - PARTICULARES,0,0,0,0,0,0
3,1,7,S,N,5,02 - PARTICULARES,0,0,0,0,0,0
4,0,2,S,N,5,03 - UNIVERSITARIO,급여계좌,0,0,0,신용카드,0

### 거주지 지수

In [31]:
dict = {"N":0, "S":1}

oneStepDf.indresi = oneStepDf.indresi.str.upper()
oneStepDf.indresi = oneStepDf.indresi.map(dict)

In [32]:
oneStepDf.indresi.unique()

array([1, 0], dtype=int64)

### 외국인 지수

In [33]:
dict = {"N":0, "S":1}

oneStepDf.indext = oneStepDf.indext.str.upper()
oneStepDf.indext = oneStepDf.indext.map(dict)

In [34]:
oneStepDf.indext.unique()

array([0, 1], dtype=int64)

### 고객 분류

In [35]:
oneStepDf.segmento.drop_duplicates()

0       02 - PARTICULARES
4      03 - UNIVERSITARIO
5                01 - TOP
922                   NaN
Name: segmento, dtype: object

In [36]:
oneStepDf.segmento = np.where(oneStepDf.segmento == '03 - UNIVERSITARIO', 0, 
                     np.where(oneStepDf.segmento == '01 - TOP', 1,
                     np.where(oneStepDf.segmento == '02 - PARTICULARES', 1, oneStepDf.segmento)))

In [37]:
r1 = len(oneStepDf.loc[oneStepDf.segmento == 0])
r1

1040053

In [38]:
r2 = len(oneStepDf.loc[oneStepDf.segmento == 1])
r2

1722835

In [39]:
oneStepDf.segmento = oneStepDf.segmento.fillna(0)

In [40]:
oneStepDf.segmento = oneStepDf.segmento.astype(int)

In [41]:
oneStepDf.segmento.dtype

dtype('int32')

In [42]:
oneStepDf.dtypes

sexo                  int32
age                   int32
indresi               int64
indext                int64
renta                 int32
segmento              int32
ind_cno_fin_ult1     object
ind_ctju_fin_ult1    object
ind_dela_fin_ult1    object
ind_fond_fin_ult1    object
ind_tjcr_fin_ult1    object
ind_valo_fin_ult1    object
dtype: object

In [43]:
oneStepDf = oneStepDf.reset_index(drop=True)

In [44]:
oneStepDf

,sexo,age,indresi,indext,renta,segmento,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,1,7,1,0,5,1,0,0,0,0,0,0
1,1,5,1,0,1,1,0,0,0,0,0,0
2,0,3,1,0,2,1,0,0,0,0,0,0
3,1,7,1,0,5,1,0,0,0,0,0,0
4,0,2,1,0,5,0,급여계좌,0,0,0,신용카드,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2784798,0,2,1,0,4,0,0,0,0,0,0,0
2784799,1,2,1,0,5,0,0,0,0,0,0,0
2784800,0,2,1,0,5,0,0,0,0,0,0,0
2784801,0,2,1,0,5,0,0,0,0,0,0,0
2784802,1,2,1,1,1,0,0,0,0,0,0,0

In [45]:
oneStepDf.columns

Index(['sexo', 'age', 'indresi', 'indext', 'renta', 'segmento',
       'ind_cno_fin_ult1', 'ind_ctju_fin_ult1', 'ind_dela_fin_ult1',
       'ind_fond_fin_ult1', 'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1'],
      dtype='object')

In [46]:
# 라벨부분 컬럼
expandColumn = ['ind_cno_fin_ult1', 'ind_ctju_fin_ult1', 'ind_dela_fin_ult1',\
                'ind_fond_fin_ult1', 'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1']

In [47]:
# 컬럼
dataCol = ['sexo', 'age', 'indext', 'renta', 'segmento']

In [48]:
oneStepDf

,sexo,age,indresi,indext,renta,segmento,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,1,7,1,0,5,1,0,0,0,0,0,0
1,1,5,1,0,1,1,0,0,0,0,0,0
2,0,3,1,0,2,1,0,0,0,0,0,0
3,1,7,1,0,5,1,0,0,0,0,0,0
4,0,2,1,0,5,0,급여계좌,0,0,0,신용카드,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2784798,0,2,1,0,4,0,0,0,0,0,0,0
2784799,1,2,1,0,5,0,0,0,0,0,0,0
2784800,0,2,1,0,5,0,0,0,0,0,0,0
2784801,0,2,1,0,5,0,0,0,0,0,0,0
2784802,1,2,1,1,1,0,0,0,0,0,0,0

### 11개 상품 1개의 컬럼으로 수정

In [49]:
wholeList = []
for i in tqdm.tqdm(range(len(oneStepDf))):
    for j in expandColumn:
        rowList = []
        rowList.append(oneStepDf[j][i])
        for k in dataCol:
            rowList.append(oneStepDf[k][i])
        wholeList.append(rowList)
secondStepDf = pd.DataFrame(wholeList)

100%|██████████████████████████████████████████████████████████████████████| 2784803/2784803 [10:59<00:00, 4224.14it/s]

In [50]:
secondStepDf.rename(columns={0:"FINANCIALPRODUCT"}, inplace=True)
secondStepDf.rename(columns={1:"GENDER"}, inplace=True)
secondStepDf.rename(columns={2:"AGE"}, inplace=True)
secondStepDf.rename(columns={3:"CUST_TYPE"}, inplace=True)
secondStepDf.rename(columns={4:"INCOME"}, inplace=True)
secondStepDf.rename(columns={5:"FOREINERINDEX"}, inplace=True)

secondStepDf

         FINANCIALPRODUCT  GENDER  AGE  CUST_TYPE  INCOME  FOREINERINDEX
0                       0       1    7          0       5              1
1                       0       1    7          0       5              1
2                       0       1    7          0       5              1
3                       0       1    7          0       5              1
4                       0       1    7          0       5              1
...                   ...     ...  ...        ...     ...            ...
16708813                0       1    2          1       1              0
16708814                0       1    2          1       1              0
16708815                0       1    2          1       1              0
16708816                0       1    2          1       1              0
16708817                0       1    2          1       1              0

[16708818 rows x 6 columns]

In [51]:
secondStepDf = secondStepDf.loc[secondStepDf.FINANCIALPRODUCT != 0]
secondStepDf = secondStepDf.reset_index(drop=True)
secondStepDf

       FINANCIALPRODUCT  GENDER  AGE  CUST_TYPE  INCOME  FOREINERINDEX
0                  급여계좌       0    2          0       5              0
1                  신용카드       0    2          0       5              0
2                  신용카드       0    3          0       5              1
3                    증권       0    3          0       5              1
4                  급여계좌       1    3          0       3              1
...                 ...     ...  ...        ...     ...            ...
547143             급여계좌       0    5          0       5              1
547144             급여계좌       1    3          0       1              1
547145            주니어계좌       0    1          0       3              1
547146             급여계좌       1    2          0       5              0
547147             신용카드       1    2          0       5              0

[547148 rows x 6 columns]

In [ ]:
----------------------------------------------------------------------------------------------------------------

In [54]:
secondStepDf.to_csv("../test/Financial_Product_Recommendation.csv", index=False, mode ="w")