In [1]:
# 데이터 조작 라이브러리
import pandas as pd
import numpy as np

from tensorflow import keras
from tensorflow.keras import layers

In [2]:
baseData = pd.read_csv("../../dataset/cars.csv")
baseData

     age  gender  miles   debt  income  sales
0     28       0     23      0    4099    620
1     26       0     27      0    2677   1792
2     30       1     58  41576    6215  27754
3     26       1     25  43172    7626  28256
4     20       1     17   6979    8071   4438
..   ...     ...    ...    ...     ...    ...
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

[963 rows x 6 columns]

In [3]:
label = ["income"]

In [4]:
features = ['miles', 'debt', 'gender', 'sales']
print("label: {}".format(label))
print("features: {}".format(features))

label: ['income']
features: ['miles', 'debt', 'gender', 'sales']

In [5]:
stdRatio = 0.8

In [6]:
stdIndex = int(baseData.shape[0] * stdRatio)
stdIndex

770

In [7]:
trainFeat = baseData.loc[0:stdIndex, features]
trainLabel = baseData.loc[0:stdIndex, label]
testFeat = baseData.loc[stdIndex:, features]
testLabel = baseData.loc[stdIndex:, label]

In [8]:
print(trainFeat.shape)
print(trainLabel.shape)
print(testFeat.shape)
print(testLabel.shape)

(771, 4)
(771, 1)
(193, 4)
(193, 1)

In [9]:
# 모델 불러오기
from tensorflow.keras.models import model_from_json

In [10]:
json_file = open("model.json", "r") 
loaded_model_json = json_file.read() 
json_file.close() 

loaded_model = model_from_json(loaded_model_json)

loaded_model.load_weights("linear_keras_sellout.h5")

In [11]:
# 모델 재 컴파일
loaded_model.compile(loss='mean_squared_error',
                optimizer='adam',
                metrics=['mean_absolute_error', 'mean_squared_error'])

In [12]:
loaded_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                160

 dense_1 (Dense)             (None, 256)               8448

 dense_2 (Dense)             (None, 1)                 257

=================================================================
Total params: 8,865
Trainable params: 8,865
Non-trainable params: 0
_________________________________________________________________

In [13]:
# 모델 재 학습
# early_stopping_monitor = EarlyStopping(patience=50)
EPOCHS = 100

In [ ]:
#모델 훈련 (훈련/검증을 80%, 20%로 나눔)
history = loaded_model.fit(trainFeat,
                   trainLabel, 
                   validation_split=0.2, epochs= EPOCHS)#, callbacks=[early_stopping_monitor])

Epoch 1/100
 1/20 [>.............................] - ETA: 13s - loss: 118704205463552.0000 - mean_absolute_error: 9119734.0000 - mean_squared_error: 118704205463552.0000

In [ ]:
features

In [ ]:
label

In [ ]:
print(min(baseData.debt.drop_duplicates()))
print(max(baseData.debt.drop_duplicates()))

In [ ]:
# 10~97
inMiles = 97
# 0~59770
inDebt = 0
# 0,1
inGender = 1
# 500~29926
inSales = 29926

In [ ]:
testDf = pd.DataFrame([[inMiles,inDebt,inGender,inSales]])
testDf

In [ ]:
loaded_model.predict(testDf)

In [ ]:
import math
# 정확도 추론
loss, accuracy = model.evaluate(testData_features, testData_label, verbose=1)
print(loss)
print(accuracy)