In [28]:
import pandas as pd

In [29]:
df = pd.read_excel("./test_sender.xlsx")
df

    sender
0  네이버 시리즈
1       다음
2       구글
3      네이버
4      카카오
5  카카오 페이지

In [30]:
sender = df.sender.unique()
sender

array(['네이버 시리즈', '다음', '구글', '네이버', '카카오', '카카오 페이지'], dtype=object)

In [31]:
tar = ["네이버", "다음", "네이버 시리즈", "스팸", "spam"]
tar

['네이버', '다음', '네이버 시리즈', '스팸', 'spam']

In [32]:
for value in sender:
    if value in tar:
        print(value)

네이버 시리즈
다음
네이버

In [33]:
from datetime import datetime

In [34]:
current_datetime = datetime.now()

In [35]:
current_date_string = current_datetime.strftime('%Y-%m-%d %H:%M')

In [36]:
print("현재 날짜:", current_date_string)

현재 날짜: 2023-12-07 17:53