In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
import tqdm

In [4]:
baseData = pd.read_csv("../data/train_ver2.csv")

C:\Users\caose\AppData\Local\Temp\ipykernel_17660\3097669333.py:1: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  baseData = pd.read_csv("../data/train_ver2.csv")

In [5]:
### 2개월 데이터로 줄인다. 값이 너무 많아서 최근의 추세로 판단하겠다

In [6]:
base1 = baseData.loc[baseData.fecha_dato == "2016-04-28"]

In [7]:
base2 = baseData.loc[baseData.fecha_dato == "2016-05-28"]

In [8]:
data1 = base1.append(base2, ignore_index=True)

C:\Users\caose\AppData\Local\Temp\ipykernel_17660\4183799191.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1 = base1.append(base2, ignore_index=True)

In [9]:
data1 = data1.reset_index(drop=True)

In [10]:
data1.head(3)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2016-04-28,896836,N,ES,H,72,2010-11-12,0.0,65,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2016-04-28,896837,N,ES,H,57,2010-11-12,0.0,65,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2016-04-28,896839,N,ES,V,39,2010-11-12,0.0,65,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [11]:
data1 = data1.drop(['fecha_dato', 'ncodpers','ind_empleado','pais_residencia','fecha_alta','ind_nuevo','indrel','ult_fec_cli_1t',\
                    'conyuemp','canal_entrada','indfall','tipodom','cod_prov','nomprov','ind_actividad_cliente',\
                    'ind_aval_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1',\
                    'ind_ctpp_fin_ult1','ind_ecue_fin_ult1','ind_hip_fin_ult1',\
                    'ind_reca_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1',\
                    'ind_cco_fin_ult1','ind_cder_fin_ult1',"antiguedad",'indrel_1mes','tiprel_1mes'], axis=1)

In [12]:
# label이 될 컬럼을 상품명으로 변경
data1.loc[data1['ind_deco_fin_ult1'] == 1, 'ind_deco_fin_ult1'] = '단기예금'
data1.loc[data1['ind_deme_fin_ult1'] == 1, 'ind_deme_fin_ult1'] = '중기예금'
data1.loc[data1['ind_dela_fin_ult1'] == 1, 'ind_dela_fin_ult1'] = '장기예금'
data1.loc[data1['ind_ahor_fin_ult1'] == 1, 'ind_ahor_fin_ult1'] = '저축계좌'
data1.loc[data1['ind_cno_fin_ult1'] == 1, 'ind_cno_fin_ult1'] = '급여계좌'
data1.loc[data1['ind_ctju_fin_ult1'] == 1, 'ind_ctju_fin_ult1'] = '주니어계좌'
data1.loc[data1['ind_fond_fin_ult1'] == 1, 'ind_fond_fin_ult1'] = '펀드계좌'
data1.loc[data1['ind_plan_fin_ult1'] == 1, 'ind_plan_fin_ult1'] = '연금'
data1.loc[data1['ind_pres_fin_ult1'] == 1, 'ind_pres_fin_ult1'] = '대출'
data1.loc[data1['ind_tjcr_fin_ult1'] == 1, 'ind_tjcr_fin_ult1'] = '신용카드'
data1.loc[data1['ind_valo_fin_ult1'] == 1, 'ind_valo_fin_ult1'] = '증권'

data1 = data1.dropna()

In [13]:
oneStepDf = data1.copy()

In [14]:
oneStepDf

,sexo,age,indresi,indext,renta,segmento,ind_ahor_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,H,72,S,N,315824.52,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
1,H,57,S,N,NaN,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
2,V,39,S,N,46618.47,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
3,H,71,S,N,205204.11,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
4,V,25,S,N,100300.17,03 - UNIVERSITARIO,0,급여계좌,0,0,0,0,0,0,0,신용카드,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859722,V,22,S,N,43912.17,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0
1859723,V,23,S,N,23334.99,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0
1859724,H,47,S,N,NaN,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
1859725,H,22,S,N,199592.82,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0
1859726,H,37,S,N,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0

# 칼럼 처리

### 총소득

In [15]:
oneStepDf["renta"] = oneStepDf["renta"].fillna(0)

In [16]:
oneStepDf["renta"] = oneStepDf["renta"].astype(int)

In [17]:
print(min(oneStepDf.renta))
print(max(oneStepDf.renta))
# 3000000기준 5분위

0
28894395

In [18]:
oneStepDf["renta"].describe().astype(int)

count     1859727
mean       101336
std        209905
min             0
25%         24510
50%         79217
75%        133053
max      28894395
Name: renta, dtype: int32

r1 = len(oneStepDf.loc[oneStepDf["renta"] < 25000])
r1

r2 = len(oneStepDf.loc[oneStepDf["renta"] < 50000])
r2-r1

r3 = len(oneStepDf.loc[oneStepDf["renta"] < 75000])
r3-r2

r4 = len(oneStepDf.loc[oneStepDf["renta"] < 100000])
r4-r3

r5 = len(oneStepDf.loc[oneStepDf["renta"] >= 100000])
r5

In [19]:
oneStepDf["renta"] = np.where(oneStepDf.renta<25000,1, # 2만5천
                     np.where(oneStepDf.renta<50000,2, # 5만
                     np.where(oneStepDf.renta<75000,3, # 7만5천
                     np.where(oneStepDf.renta<100000,4,5)))) #10만, 나머지 5로 분류

### 나이

In [20]:
oneStepDf["age"] = oneStepDf["age"].astype(int)

In [21]:
print(max(oneStepDf["age"]))
print(min(oneStepDf["age"]))

164
2

In [22]:
oneStepDf["age"] = np.where(oneStepDf.age<=9,0,
                   np.where(oneStepDf.age<=19,1,
                   np.where(oneStepDf.age<=29,2,
                   np.where(oneStepDf.age<=39,3,
                   np.where(oneStepDf.age<=49,4,
                   np.where(oneStepDf.age<=59,5,
                   np.where(oneStepDf.age<=69,6,
                   np.where(oneStepDf.age<=79,7,
                   np.where(oneStepDf.age<=89,8,
                   np.where(oneStepDf.age<=99,9,10))))))))))

### 성별

In [23]:
oneStepDf.sexo = np.where(oneStepDf.sexo=='H', "1", "0")

In [24]:
oneStepDf.sexo = oneStepDf.sexo.astype(int)

In [25]:
oneStepDf.sexo.dtype

dtype('int32')

In [26]:
oneStepDf.head()

,sexo,age,indresi,indext,renta,segmento,ind_ahor_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,1,7,S,N,5,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
1,1,5,S,N,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
2,0,4,S,N,2,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
3,1,7,S,N,5,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
4,0,2,S,N,5,03 - UNIVERSITARIO,0,급여계좌,0,0,0,0,0,0,0,신용카드,0

### 거주지 지수

In [27]:
dict = {"N":0, "S":1}

oneStepDf.indresi = oneStepDf.indresi.str.upper()
oneStepDf.indresi = oneStepDf.indresi.map(dict)

In [28]:
oneStepDf.indresi.unique()

array([1, 0], dtype=int64)

### 외국인 지수

In [29]:
dict = {"N":0, "S":1}

oneStepDf.indext = oneStepDf.indext.str.upper()
oneStepDf.indext = oneStepDf.indext.map(dict)

In [30]:
oneStepDf.indext.unique()

array([0, 1], dtype=int64)

### 고객 분류

In [31]:
oneStepDf.segmento = np.where( oneStepDf.segmento == '03 - UNIVERSITARIO', 0, 
                     np.where( oneStepDf.segmento == '01 - TOP', 1,
                     np.where( oneStepDf.segmento == '02 - PARTICULARES', 1, oneStepDf.segmento)))

In [32]:
oneStepDf.segmento = oneStepDf.segmento.fillna(0)

In [33]:
oneStepDf.segmento = oneStepDf.segmento.astype(int)

In [34]:
oneStepDf.segmento.dtype

dtype('int32')

In [35]:
oneStepDf.dtypes

sexo                  int32
age                   int32
indresi               int64
indext                int64
renta                 int32
segmento              int32
ind_ahor_fin_ult1    object
ind_cno_fin_ult1     object
ind_ctju_fin_ult1    object
ind_deco_fin_ult1    object
ind_deme_fin_ult1    object
ind_dela_fin_ult1    object
ind_fond_fin_ult1    object
ind_plan_fin_ult1    object
ind_pres_fin_ult1    object
ind_tjcr_fin_ult1    object
ind_valo_fin_ult1    object
dtype: object

In [36]:
oneStepDf = oneStepDf.reset_index(drop=True)

In [37]:
oneStepDf

,sexo,age,indresi,indext,renta,segmento,ind_ahor_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,1,7,1,0,5,1,0,0,0,0,0,0,0,0,0,0,0
1,1,5,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2,0,4,1,0,2,1,0,0,0,0,0,0,0,0,0,0,0
3,1,7,1,0,5,1,0,0,0,0,0,0,0,0,0,0,0
4,0,2,1,0,5,0,0,급여계좌,0,0,0,0,0,0,0,신용카드,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859722,0,2,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0
1859723,0,2,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1859724,1,4,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
1859725,1,2,1,0,5,0,0,0,0,0,0,0,0,0,0,0,0
1859726,1,3,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [38]:
oneStepDf.columns

Index(['sexo', 'age', 'indresi', 'indext', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_fond_fin_ult1', 'ind_plan_fin_ult1', 'ind_pres_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1'],
      dtype='object')

In [39]:
# 라벨부분 컬럼
expandColumn = ['ind_ahor_fin_ult1', 'ind_cno_fin_ult1',\
                'ind_ctju_fin_ult1', 'ind_deco_fin_ult1', 'ind_deme_fin_ult1',\
                'ind_dela_fin_ult1', 'ind_fond_fin_ult1', 'ind_plan_fin_ult1',\
                'ind_pres_fin_ult1', 'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1']

In [40]:
# 컬럼
dataCol = ['sexo', 'age', 'indext', 'renta', 'segmento']

In [41]:
oneStepDf

,sexo,age,indresi,indext,renta,segmento,ind_ahor_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,1,7,1,0,5,1,0,0,0,0,0,0,0,0,0,0,0
1,1,5,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2,0,4,1,0,2,1,0,0,0,0,0,0,0,0,0,0,0
3,1,7,1,0,5,1,0,0,0,0,0,0,0,0,0,0,0
4,0,2,1,0,5,0,0,급여계좌,0,0,0,0,0,0,0,신용카드,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859722,0,2,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0
1859723,0,2,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1859724,1,4,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
1859725,1,2,1,0,5,0,0,0,0,0,0,0,0,0,0,0,0
1859726,1,3,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0

### 11개 상품 1개의 컬럼으로 수정

In [42]:
wholeList = []
for i in tqdm.tqdm(range(len(oneStepDf))):
    for j in expandColumn:
        rowList = []
        rowList.append(oneStepDf[j][i])
        for k in dataCol:
            rowList.append(oneStepDf[k][i])
        wholeList.append(rowList)
secondStepDf = pd.DataFrame(wholeList)

100%|██████████████████████████████████████████████████████████████████████| 1859727/1859727 [12:25<00:00, 2494.74it/s]

In [43]:
secondStepDf.to_csv("./modelTrainData.csv", index=False, mode ="w")

In [44]:
-------------------------------------------------------------------------------------------------------

SyntaxError: invalid syntax (2139181877.py, line 1)

In [ ]:
secondStepDf.rename(columns={"0":"FINANCIALPRODUCT"}, inplace=True)
secondStepDf.rename(columns={"1":"GENDER"}, inplace=True)
secondStepDf.rename(columns={"2":"AGE"}, inplace=True)
secondStepDf.rename(columns={"3":"CUST_TYPE"}, inplace=True)
secondStepDf.rename(columns={"4":"INCOME"}, inplace=True)
secondStepDf.rename(columns={"5":"FOREINERINDEX"}, inplace=True)

secondStepDf