In [1]:
import pandas as pd

In [2]:
secondStepDf = pd.read_csv("./modelTrainData.csv")

In [3]:
secondStepDf.rename(columns={"0":"FINANCIALPRODUCT"}, inplace=True)
secondStepDf.rename(columns={"1":"GENDER"}, inplace=True)
secondStepDf.rename(columns={"2":"AGE"}, inplace=True)
secondStepDf.rename(columns={"3":"CUST_TYPE"}, inplace=True)
secondStepDf.rename(columns={"4":"INCOME"}, inplace=True)
secondStepDf.rename(columns={"5":"FOREINERINDEX"}, inplace=True)

secondStepDf

         FINANCIALPRODUCT  GENDER  AGE  CUST_TYPE  INCOME  FOREINERINDEX
0                       0       1    7          0       1              1
1                       0       1    7          0       1              1
2                       0       1    7          0       1              1
3                       0       1    7          0       1              1
4                       0       1    7          0       1              1
...                   ...     ...  ...        ...     ...            ...
20456992                0       1    3          0       1              0
20456993                0       1    3          0       1              0
20456994                0       1    3          0       1              0
20456995                0       1    3          0       1              0
20456996                0       1    3          0       1              0

[20456997 rows x 6 columns]

In [4]:
secondStepDf = secondStepDf.loc[secondStepDf.FINANCIALPRODUCT != "0"]

In [5]:
secondStepDf.reset_index(drop=True)

       FINANCIALPRODUCT  GENDER  AGE  CUST_TYPE  INCOME  FOREINERINDEX
0                  급여계좌       0    2          0       1              0
1                  신용카드       0    2          0       1              0
2                  신용카드       0    4          0       1              1
3                    증권       0    4          0       1              1
4                  급여계좌       1    4          0       1              1
...                 ...     ...  ...        ...     ...            ...
387067             급여계좌       0    2          0       1              0
387068            주니어계좌       1    1          0       1              1
387069            주니어계좌       0    1          0       1              1
387070             급여계좌       1    2          0       1              0
387071             급여계좌       1    2          0       1              0

[387072 rows x 6 columns]

In [6]:
secondStepDf.columns

Index(['FINANCIALPRODUCT', 'GENDER', 'AGE', 'CUST_TYPE', 'INCOME',
       'FOREINERINDEX'],
      dtype='object')

In [7]:
feature = ['GENDER', 'AGE', 'CUST_TYPE', 'INCOME', 'FOREINERINDEX']

In [8]:
label = ['FINANCIALPRODUCT']

In [9]:
featureData = secondStepDf.loc[:,feature]
labelData = secondStepDf.loc[:,label]

In [10]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import tree

In [11]:
training_feature,\
test_feature,\
training_label,\
test_label = train_test_split(featureData, labelData, test_size=0.3, random_state=10)

In [12]:
print(training_feature.shape)
print(training_label.shape)
print(test_feature.shape)
print(test_label.shape)

(270950, 5)
(270950, 1)
(116122, 5)
(116122, 1)

In [13]:
tree_model = tree.DecisionTreeClassifier(random_state=10)

In [14]:
tree_model.fit(X = training_feature,
               y = training_label)

DecisionTreeClassifier(random_state=10)

In [15]:
pred_tree = tree_model.predict(X=test_feature) #타입:np.array

pred_tree = pd.DataFrame(pred_tree, columns=["pred_tree"])

test_label = test_label.reset_index(drop=True)

accuracy_tree = accuracy_score(test_label, pred_tree)

In [16]:
accuracy_tree

0.4256299409242004

In [59]:
import pickle
with open("./tree_model.pickle","wb") as fw:
    pickle.dump(tree_model,fw)

In [18]:
training_feature.columns

Index(['GENDER', 'AGE', 'CUST_TYPE', 'INCOME', 'FOREINERINDEX'], dtype='object')

In [56]:
inG = 0 # 0,1
inA = 8 # 0~10
inC = 0 # 0,1
inI = 1 # 1~5
inF = 0 # 0,1

In [57]:
test = pd.DataFrame([[inG,inA,inC,inI,inF]])
test

   0  1  2  3  4
0  0  8  0  1  0

In [58]:
tree_model.predict(X = test)

C:\Users\caose\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['급여계좌'], dtype=object)