In [1]:
#데이터 처리 라이브러리
import pandas as pd
import numpy as np

#머신러닝 라이브러리
from sklearn import tree

In [2]:
trainData = pd.read_csv("../dataset/train.csv")
testData = pd.read_csv("../dataset/test.csv")

In [3]:
trainData.head()

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2.8,2.8,2.7,2.7,...,70.978249,70.876794,70.705253,70.559603,70.427356,70.340491,70.293830,70.262422,70.169841,70.043251
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,3.3,3.3,3.3,3.2,...,71.535483,71.382303,71.253604,71.092665,70.955608,70.796630,70.597550,70.565088,70.560502,70.427600
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,3.0,2.9,2.9,2.9,...,71.279804,71.199570,71.144020,71.026740,70.920038,70.876723,70.710129,70.595971,70.418203,70.399578
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,3.1,3.0,3.0,3.0,...,69.934615,69.884124,69.845683,69.794682,69.779813,69.614644,69.455404,69.281590,69.238689,69.133970
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,3.7,3.6,3.6,3.6,...,68.313016,68.285364,68.209860,68.209458,68.040083,67.859963,67.775556,67.701456,67.504244,67.410093

In [4]:
trainData.isnull().sum()
# null값은 없다.

ID                0
착과량(int)          0
수고(m)             0
수관폭1(min)         0
수관폭2(max)         0
                 ..
2022-11-24 엽록소    0
2022-11-25 엽록소    0
2022-11-26 엽록소    0
2022-11-27 엽록소    0
2022-11-28 엽록소    0
Length: 184, dtype: int64

In [5]:
corrDF = trainData.corr()
stdCorr = 0.5
dataCol = list(corrDF.loc[(abs(corrDF["착과량(int)"])>stdCorr)&(corrDF["착과량(int)"]!=1)].index)

In [6]:
# 상단에 상관성이 높은 데이터가 있지만, 본인은 수고(m),수관폭1(min),수관폭2(max),수관폭평균으로 착과량을 예측해보고 싶기에 위의 자료는 사용하지 않는다.

In [7]:
trainDataFeat =  trainData.iloc[:,[2,3,4,5]]
trainDataTar =  trainData.iloc[:,[1]]

In [8]:
trainDataTar.head()

   착과량(int)
0       692
1       534
2       634
3       639
4       496

In [9]:
trainDataFeat.head()

   수고(m)  수관폭1(min)  수관폭2(max)  수관폭평균
0  275.0      287.0      292.0  289.5
1  293.0      284.0      336.0  310.0
2  300.0      392.0      450.0  421.0
3  289.0      368.0      379.0  373.5
4  306.0      353.0      358.0  355.5

In [10]:
# null값 확인

In [11]:
trainDataFeat.isnull().sum()

수고(m)        0
수관폭1(min)    0
수관폭2(max)    0
수관폭평균        0
dtype: int64

In [12]:
trainDataTar.isnull().sum()

착과량(int)    0
dtype: int64

In [13]:
# 컬럼명 변경

In [14]:
featCol = list(trainDataFeat.columns)
changeCol = []
for i in range (len(featCol)):
    splitCol = featCol[i].split("(")
    changeCol.append(splitCol[0])
    trainDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
trainDataFeat

C:\Users\caose\AppData\Local\Temp\ipykernel_7968\2222668989.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_7968\2222668989.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_7968\2222668989.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_7968\2222668989.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)

         수고   수관폭1   수관폭2  수관폭평균
0     275.0  287.0  292.0  289.5
1     293.0  284.0  336.0  310.0
2     300.0  392.0  450.0  421.0
3     289.0  368.0  379.0  373.5
4     306.0  353.0  358.0  355.5
...     ...    ...    ...    ...
2202  230.0  353.0  367.0  360.0
2203  266.0  337.0  400.0  368.5
2204  237.0  353.0  362.0  357.5
2205  281.0  337.0  403.0  370.0
2206  228.0  389.0  398.0  393.5

[2207 rows x 4 columns]

In [15]:
trainDataTar = trainDataTar.rename(columns={"착과량(int)":"착과량"})
trainDataTar

      착과량
0     692
1     534
2     634
3     639
4     496
...   ...
2202  119
2203  611
2204  650
2205  363
2206   17

[2207 rows x 1 columns]

DecisionTreeClassifier(random_state=10)

DecisionTreeClassifier(random_state=10)

In [16]:
# 예측할 데이터
testData.head()

,ID,수고(m),수관폭1(min),수관폭2(max),수관폭평균,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,2022-09-05 새순,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,TEST_0000,231.0,219.0,302.0,260.5,4.3,4.2,4.2,4.1,4.1,...,72.091497,71.906176,71.886799,71.858720,71.725540,71.531618,71.476935,71.321237,71.184295,71.000223
1,TEST_0001,206.0,324.0,346.0,335.0,2.5,2.5,2.5,2.5,2.5,...,68.423776,68.353200,68.346777,68.188159,67.995233,67.879958,67.744820,67.673522,67.539973,67.447849
2,TEST_0002,282.0,373.0,404.0,388.5,4.7,4.7,4.6,4.6,4.5,...,74.435783,74.247468,74.142664,74.070401,73.892408,73.796143,73.615838,73.440136,73.387051,73.228319
3,TEST_0003,234.0,337.0,357.0,347.0,3.6,3.6,3.6,3.6,3.5,...,73.570735,73.420243,73.313538,73.149298,73.109599,72.924511,72.847411,72.838263,72.672156,72.538171
4,TEST_0004,222.0,329.0,347.0,338.0,2.7,2.7,2.7,2.7,2.6,...,72.216758,72.163153,72.052952,71.905982,71.766141,71.746813,71.668847,71.501043,71.419715,71.328224

In [17]:
# null값 확인

In [18]:
testData.isnull().sum()

ID                0
수고(m)             0
수관폭1(min)         0
수관폭2(max)         0
수관폭평균             0
                 ..
2022-11-24 엽록소    0
2022-11-25 엽록소    0
2022-11-26 엽록소    0
2022-11-27 엽록소    0
2022-11-28 엽록소    0
Length: 183, dtype: int64

In [19]:
testDataFeat =  testData.iloc[:,[1,2,3,4]]
testDataFeat.isnull().sum()

수고(m)        0
수관폭1(min)    0
수관폭2(max)    0
수관폭평균        0
dtype: int64

In [27]:
featCol = list(testDataFeat.columns)
changeCol = []
for i in range (len(featCol)):
    splitCol = featCol[i].split("(")
    changeCol.append(splitCol[0])
    testDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
testDataFeat

C:\Users\caose\AppData\Local\Temp\ipykernel_7968\2630635040.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_7968\2630635040.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_7968\2630635040.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)
C:\Users\caose\AppData\Local\Temp\ipykernel_7968\2630635040.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testDataFeat.rename(columns={featCol[i]:changeCol[i]}, inplace=True)

         수고   수관폭1   수관폭2  수관폭평균
0     231.0  219.0  302.0  260.5
1     206.0  324.0  346.0  335.0
2     282.0  373.0  404.0  388.5
3     234.0  337.0  357.0  347.0
4     222.0  329.0  347.0  338.0
...     ...    ...    ...    ...
2203  217.0  265.0  288.0  276.5
2204  182.0  191.0  262.0  226.5
2205  254.0  280.0  332.0  306.0
2206  257.0  285.0  297.0  291.0
2207  244.0  380.0  391.0  385.5

[2208 rows x 4 columns]

In [41]:
# 모델 선언

In [25]:
dtModel = tree.DecisionTreeClassifier(random_state=10)
dtModel

DecisionTreeClassifier(random_state=10)

In [26]:
dtModel.fit(X = trainDataFeat,
            y = trainDataTar)

DecisionTreeClassifier(random_state=10)

In [29]:
predictValue = dtModel.predict(X = testDataFeat)

In [39]:
# 예측해낸 착과량
testTar = predictValue
testDataTar = pd.DataFrame(testTar,columns=["착과량"])
testDataTar

      착과량
0     199
1     218
2     535
3     174
4     205
...   ...
2203  397
2204  267
2205  265
2206  192
2207  167

[2208 rows x 1 columns]

In [42]:
# 미래예측

In [44]:
changeCol

['수고', '수관폭1', '수관폭2', '수관폭평균']

In [55]:
inputHigh = 260
inputWID1 = 260
inputWID2 = 260
inputAvg = 260

In [56]:
testData = pd.DataFrame([[inputHigh,inputWID1,inputWID2,inputAvg]])

In [57]:
dtModel.predict(testData)

C:\Users\caose\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([147], dtype=int64)