In [1]:
#데이터 처리 라이브러리
import pandas as pd
import numpy as np

#머신러닝 라이브러리
from sklearn import tree

In [57]:
# 학습용 데이터
basicTrainData = pd.read_csv("../dataset/train.csv")

In [58]:
basicTrainData

,ID,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,TRAIN_0000,692,275.0,287.0,292.0,289.5,2.8,2.8,2.7,2.7,...,70.978249,70.876794,70.705253,70.559603,70.427356,70.340491,70.293830,70.262422,70.169841,70.043251
1,TRAIN_0001,534,293.0,284.0,336.0,310.0,3.3,3.3,3.3,3.2,...,71.535483,71.382303,71.253604,71.092665,70.955608,70.796630,70.597550,70.565088,70.560502,70.427600
2,TRAIN_0002,634,300.0,392.0,450.0,421.0,3.0,2.9,2.9,2.9,...,71.279804,71.199570,71.144020,71.026740,70.920038,70.876723,70.710129,70.595971,70.418203,70.399578
3,TRAIN_0003,639,289.0,368.0,379.0,373.5,3.1,3.0,3.0,3.0,...,69.934615,69.884124,69.845683,69.794682,69.779813,69.614644,69.455404,69.281590,69.238689,69.133970
4,TRAIN_0004,496,306.0,353.0,358.0,355.5,3.7,3.6,3.6,3.6,...,68.313016,68.285364,68.209860,68.209458,68.040083,67.859963,67.775556,67.701456,67.504244,67.410093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,TRAIN_2202,119,230.0,353.0,367.0,360.0,4.7,4.6,4.5,4.5,...,66.347384,66.293609,66.193131,66.176590,66.109845,66.008775,65.889675,65.734066,65.586656,65.560547
2203,TRAIN_2203,611,266.0,337.0,400.0,368.5,3.1,3.0,3.0,3.0,...,73.438844,73.432194,73.355195,73.329491,73.271361,73.088750,73.071705,73.069036,72.952559,72.944396
2204,TRAIN_2204,650,237.0,353.0,362.0,357.5,3.0,3.0,2.9,2.9,...,67.576066,67.404347,67.394009,67.247428,67.117025,66.933771,66.734617,66.572095,66.506006,66.479459
2205,TRAIN_2205,363,281.0,337.0,403.0,370.0,3.9,3.9,3.8,3.8,...,66.766379,66.602606,66.510781,66.334637,66.323613,66.248731,66.202532,66.108962,65.934979,65.812084
2206,TRAIN_2206,17,228.0,389.0,398.0,393.5,5.3,5.2,5.2,5.1,...,72.885385,72.734930,72.629823,72.454654,72.389570,72.271680,72.208433,72.070977,71.872453,71.870512

In [59]:
basicTrainData.isnull().sum()

ID                0
착과량(int)          0
수고(m)             0
수관폭1(min)         0
수관폭2(max)         0
                 ..
2022-11-24 엽록소    0
2022-11-25 엽록소    0
2022-11-26 엽록소    0
2022-11-27 엽록소    0
2022-11-28 엽록소    0
Length: 184, dtype: int64

In [60]:
# 사용할수 없는 id데이터 삭제
basicTrainData = basicTrainData.drop(columns=["ID"])
basicTrainData

,착과량(int),수고(m),수관폭1(min),수관폭2(max),수관폭평균,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,2022-09-05 새순,...,2022-11-19 엽록소,2022-11-20 엽록소,2022-11-21 엽록소,2022-11-22 엽록소,2022-11-23 엽록소,2022-11-24 엽록소,2022-11-25 엽록소,2022-11-26 엽록소,2022-11-27 엽록소,2022-11-28 엽록소
0,692,275.0,287.0,292.0,289.5,2.8,2.8,2.7,2.7,2.7,...,70.978249,70.876794,70.705253,70.559603,70.427356,70.340491,70.293830,70.262422,70.169841,70.043251
1,534,293.0,284.0,336.0,310.0,3.3,3.3,3.3,3.2,3.2,...,71.535483,71.382303,71.253604,71.092665,70.955608,70.796630,70.597550,70.565088,70.560502,70.427600
2,634,300.0,392.0,450.0,421.0,3.0,2.9,2.9,2.9,2.9,...,71.279804,71.199570,71.144020,71.026740,70.920038,70.876723,70.710129,70.595971,70.418203,70.399578
3,639,289.0,368.0,379.0,373.5,3.1,3.0,3.0,3.0,3.0,...,69.934615,69.884124,69.845683,69.794682,69.779813,69.614644,69.455404,69.281590,69.238689,69.133970
4,496,306.0,353.0,358.0,355.5,3.7,3.6,3.6,3.6,3.5,...,68.313016,68.285364,68.209860,68.209458,68.040083,67.859963,67.775556,67.701456,67.504244,67.410093
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202,119,230.0,353.0,367.0,360.0,4.7,4.6,4.5,4.5,4.4,...,66.347384,66.293609,66.193131,66.176590,66.109845,66.008775,65.889675,65.734066,65.586656,65.560547
2203,611,266.0,337.0,400.0,368.5,3.1,3.0,3.0,3.0,2.9,...,73.438844,73.432194,73.355195,73.329491,73.271361,73.088750,73.071705,73.069036,72.952559,72.944396
2204,650,237.0,353.0,362.0,357.5,3.0,3.0,2.9,2.9,2.9,...,67.576066,67.404347,67.394009,67.247428,67.117025,66.933771,66.734617,66.572095,66.506006,66.479459
2205,363,281.0,337.0,403.0,370.0,3.9,3.9,3.8,3.8,3.8,...,66.766379,66.602606,66.510781,66.334637,66.323613,66.248731,66.202532,66.108962,65.934979,65.812084
2206,17,228.0,389.0,398.0,393.5,5.3,5.2,5.2,5.1,5.0,...,72.885385,72.734930,72.629823,72.454654,72.389570,72.271680,72.208433,72.070977,71.872453,71.870512

In [63]:
basicCol = basicTrainData.columns

In [65]:
for i in range(len(basicCol)):
    try : 
        basicTrainData[basicCol[i]] = basicTrainData[basicCol[i]].astype(float)
    except Exception as e :
        e
basicTrainData.dtypes

착과량(int)          float64
수고(m)             float64
수관폭1(min)         float64
수관폭2(max)         float64
수관폭평균             float64
                   ...
2022-11-24 엽록소    float64
2022-11-25 엽록소    float64
2022-11-26 엽록소    float64
2022-11-27 엽록소    float64
2022-11-28 엽록소    float64
Length: 183, dtype: object

In [67]:
corrDf = basicTrainData.corr()
stdCorr = 0.5

In [70]:
features = list(corrDf.loc[(abs(corrDf["착과량(int)"]) >= stdCorr) & (corrDf["착과량(int)"] != 1)].index)

In [71]:
label = ["착과량(int)"]

In [72]:
stdRatio = 0.7

In [75]:
stdIndex = int(basicTrainData.shape[0] *  stdRatio)
stdIndex

1544

In [80]:
# 70
trainDataFeature = basicTrainData.loc[0:stdIndex,features]
trainDataLabel = basicTrainData.loc[0:stdIndex,label]
# 30
testDataFeature = basicTrainData.loc[0:stdIndex,features]
testDataLabel = basicTrainData.loc[0:stdIndex,label]

In [81]:
print(trainDataFeature.shape)
print(trainDataLabel.shape)
print(testDataFeature.shape)
print(testDataLabel.shape)

(1545, 82)
(1545, 1)
(1545, 82)
(1545, 1)

In [91]:
dtModel = tree.DecisionTreeRegressor(random_state=10)
dtModel

DecisionTreeRegressor(random_state=10)

In [92]:
dtModel.fit(X = trainDataFeature,
            y = trainDataLabel)

DecisionTreeRegressor(random_state=10)

In [94]:
predictDT = dtModel.predict(X = testDataFeature)

In [95]:
testDataLabel["DT"] = predictDT
testDataLabel

      착과량(int)     DT
0        692.0  692.0
1        534.0  534.0
2        634.0  634.0
3        639.0  639.0
4        496.0  496.0
...        ...    ...
1540     156.0  156.0
1541     680.0  680.0
1542     299.0  299.0
1543     350.0  350.0
1544     361.0  361.0

[1545 rows x 2 columns]

In [86]:
# 예측용 데이터
basictestData = pd.read_csv("../dataset/test.csv")
basictestData = basictestData.drop(columns=["ID"])

In [89]:
testData = basictestData.loc[:,features]
testData.shape

(2208, 82)

In [98]:
testData

,2022-09-01 새순,2022-09-02 새순,2022-09-03 새순,2022-09-04 새순,2022-09-05 새순,2022-09-06 새순,2022-09-07 새순,2022-09-08 새순,2022-09-09 새순,2022-09-10 새순,...,2022-11-12 새순,2022-11-13 새순,2022-11-14 새순,2022-11-15 새순,2022-11-23 새순,2022-11-24 새순,2022-11-25 새순,2022-11-26 새순,2022-11-27 새순,2022-11-28 새순
0,4.3,4.2,4.2,4.1,4.1,4.1,4.0,4.0,3.9,3.9,...,1.1,1.1,1.0,1.0,0.6,0.6,0.6,0.5,0.0,0.0
1,2.5,2.5,2.5,2.5,2.5,2.4,2.4,2.4,2.4,2.4,...,1.0,1.0,0.9,0.9,0.7,0.7,0.7,0.7,0.6,0.6
2,4.7,4.7,4.6,4.6,4.5,4.5,4.4,4.4,4.3,4.3,...,1.2,1.2,1.1,1.1,0.7,0.6,0.6,0.5,0.0,0.0
3,3.6,3.6,3.6,3.6,3.5,3.5,3.4,3.4,3.4,3.3,...,1.1,1.1,1.0,1.0,0.7,0.6,0.6,0.6,0.5,0.0
4,2.7,2.7,2.7,2.7,2.6,2.6,2.6,2.6,2.5,2.5,...,1.0,1.0,1.0,1.0,0.8,0.7,0.7,0.7,0.7,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,2.5,2.5,2.4,2.4,2.4,2.4,2.3,2.3,2.3,2.3,...,0.9,0.9,0.9,0.9,0.7,0.7,0.7,0.6,0.6,0.6
2204,4.1,4.1,4.1,4.0,4.0,3.9,3.9,3.8,3.8,3.7,...,1.1,1.1,1.0,1.0,0.6,0.6,0.6,0.5,0.0,0.0
2205,3.8,3.8,3.8,3.7,3.7,3.7,3.6,3.6,3.5,3.5,...,1.2,1.1,1.1,1.1,0.8,0.7,0.7,0.7,0.6,0.6
2206,4.5,4.4,4.4,4.3,4.3,4.2,4.2,4.2,4.1,4.1,...,1.2,1.1,1.1,1.1,0.7,0.7,0.6,0.5,0.0,0.0
2207,4.9,4.8,4.8,4.7,4.7,4.6,4.6,4.5,4.5,4.4,...,1.2,1.2,1.1,1.1,0.6,0.6,0.5,0.0,0.0,0.0

In [100]:
result = dtModel.predict(X = testData)

In [103]:
resultData = pd.DataFrame(result, columns=["착과량"])
resultData

        착과량
0     221.0
1     706.0
2     133.0
3     429.0
4     667.0
...     ...
2203  753.0
2204  235.0
2205  395.0
2206  249.0
2207  191.0

[2208 rows x 1 columns]

개선점
수업시간에 배운 걸 이용해서 ID도 숫자로 바꾼뒤 다시 아이디로 바꿔서 최종적으로 ID와 착과량이 같이 나타나게 할 수 없을까?
연관성이 낮다고 나왔지만 식물이 자라는데 착과량, 수고, 수관폭1, 수관폭2, 수관폭평균이 관계없을 수가 있을까?
하지만 사용하기에는 연관성이 낮아 정확도를 떨어트릴것 같다.