In [1]:
import pandas as pd 
import numpy as np

In [2]:
baseData = pd.read_csv("../data/data2_refind.csv")

In [3]:
baseData = baseData.rename(columns={"0":"product"})
baseData = baseData.rename(columns={"1":"sexo"})
baseData = baseData.rename(columns={"2":"age"})
baseData = baseData.rename(columns={"3":"indrel_1mes"})
baseData = baseData.rename(columns={"4":"tiprel_1mes"})
baseData = baseData.rename(columns={"5":"indresi"})
baseData = baseData.rename(columns={"6":"indext"})
baseData = baseData.rename(columns={"7":"renta"})
baseData = baseData.rename(columns={"8":"segmento"})

In [4]:
baseData

,product,sexo,age,indrel_1mes,tiprel_1mes,indresi,indext,renta,segmento
0,0,0,2,1,0,1,0,1,0
1,0,0,2,1,0,1,0,1,0
2,0,0,2,1,0,1,0,1,0
3,0,0,2,1,0,1,0,1,0
4,0,0,2,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...
39585541,0,0,7,1,0,1,0,1,1
39585542,0,0,7,1,0,1,0,1,1
39585543,0,0,7,1,0,1,0,1,1
39585544,0,0,7,1,0,1,0,1,1
39585545,0,0,7,1,0,1,0,1,1

In [5]:
baseData = baseData[baseData["product"] != "0"]

In [6]:
baseData = baseData.reset_index(drop=True)

In [7]:
baseData["product"].drop_duplicates()

0         급여계좌
3         신용카드
16          증권
18        펀드계좌
20        장기예금
57        단기예금
74       주니어계좌
161         연금
689         대출
1696      중기예금
41559     저축계좌
Name: product, dtype: object

In [94]:
baseData["renta"].drop_duplicates()

0       1
132     2
1440    5
1555    4
1578    3
Name: renta, dtype: int64

In [8]:
baseData

,product,sexo,age,indrel_1mes,tiprel_1mes,indresi,indext,renta,segmento
0,급여계좌,0,2,1,1,1,0,1,0
1,급여계좌,0,2,1,1,1,1,1,0
2,급여계좌,0,2,1,1,1,1,1,0
3,신용카드,0,2,1,1,1,1,1,0
4,급여계좌,0,3,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...
836876,신용카드,1,4,1,1,1,0,1,1
836877,급여계좌,1,4,1,1,1,0,1,1
836878,중기예금,1,4,1,1,1,0,1,1
836879,장기예금,1,4,1,1,1,0,1,1
836880,급여계좌,1,4,1,1,1,0,1,1

In [75]:
feature = ['sexo', 'age', 'indext', 'renta', 'segmento']

In [76]:
label = ['product']

In [77]:
featuredData = baseData.loc[:,feature]
labelData = baseData.loc[:,label]

In [78]:
print(featuredData.shape)
print(labelData.shape)

(836881, 5)
(836881, 1)

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
trainFeatData,\
testFeatData,\
trainLabelData,\
testLabelData = train_test_split(featuredData, labelData, test_size=0.7 ,random_state=10)

In [81]:
index = list(trainFeatData.index)

In [82]:
print(trainFeatData.shape)
print(trainLabelData.shape)
print(testFeatData.shape)
print(testLabelData.shape)

(251064, 5)
(251064, 1)
(585817, 5)
(585817, 1)

In [83]:
from sklearn.tree import DecisionTreeClassifier

In [84]:
model_method = DecisionTreeClassifier()

In [85]:
model = model_method.fit(X = trainFeatData,\
                         y = trainLabelData)

In [86]:
tree_pred = model.predict(X = testFeatData)

In [87]:
tree_pred = pd.DataFrame(tree_pred, columns=["tree_pred"])

In [88]:
from sklearn.metrics import accuracy_score

In [89]:
testLabelData = testLabelData.reset_index(drop=True)

In [90]:
score = accuracy_score(testLabelData, tree_pred)

In [91]:
score

0.404535887487048

In [39]:
len(trainLabelData.drop_duplicates())

11

In [40]:
len(tree_pred.drop_duplicates())

8