In [1]:
import pandas as pd 
import numpy as np

In [2]:
baseData = pd.read_csv("../data/data3_refind.csv")

In [3]:
baseData = baseData.rename(columns={"0":"product"})
baseData = baseData.rename(columns={"1":"sexo"})
baseData = baseData.rename(columns={"2":"age"})
baseData = baseData.rename(columns={"3":"indrel_1mes"})
baseData = baseData.rename(columns={"4":"tiprel_1mes"})
baseData = baseData.rename(columns={"5":"indresi"})
baseData = baseData.rename(columns={"6":"indext"})
baseData = baseData.rename(columns={"7":"renta"})
baseData = baseData.rename(columns={"8":"segmento"})

In [4]:
baseData

,product,sexo,age,indrel_1mes,tiprel_1mes,indresi,indext,renta,segmento
0,0,0,8,1,0,1,0,1,1
1,0,0,8,1,0,1,0,1,1
2,0,0,8,1,0,1,0,1,1
3,0,0,8,1,0,1,0,1,1
4,0,0,8,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...
39585541,0,1,2,1,0,1,0,1,0
39585542,0,1,2,1,0,1,0,1,0
39585543,0,1,2,1,0,1,0,1,0
39585544,0,1,2,1,0,1,0,1,0
39585545,0,1,2,1,0,1,0,1,0

In [5]:
baseData = baseData[baseData["product"] != "0"]

In [6]:
baseData = baseData.reset_index(drop=True)

In [7]:
baseData["product"].drop_duplicates()

0        장기예금
1          증권
2        급여계좌
7        펀드계좌
11       신용카드
14         연금
21      주니어계좌
47       중기예금
123      단기예금
234        대출
3008     저축계좌
Name: product, dtype: object

In [8]:
baseData

,product,sexo,age,indrel_1mes,tiprel_1mes,indresi,indext,renta,segmento
0,장기예금,1,6,1,1,1,0,1,1
1,증권,0,5,1,1,1,0,1,1
2,급여계좌,0,4,1,1,1,0,1,1
3,증권,0,3,1,1,1,0,1,1
4,급여계좌,0,5,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...
829441,급여계좌,0,2,1,0,1,0,1,0
829442,주니어계좌,1,1,1,1,1,0,1,1
829443,주니어계좌,0,1,1,1,1,0,1,1
829444,급여계좌,1,2,1,1,1,0,1,0
829445,급여계좌,1,2,1,1,1,0,1,0

In [9]:
feature = ['sexo', 'age', 'indext', 'renta']

In [10]:
label = ['product']

In [11]:
featuredData = baseData.loc[:,feature]
labelData = baseData.loc[:,label]

In [12]:
print(featuredData.shape)
print(labelData.shape)

(829446, 4)
(829446, 1)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
trainFeatData,\
testFeatData,\
trainLabelData,\
testLabelData = train_test_split(featuredData, labelData, test_size=0.7 ,random_state=10)

In [15]:
index = list(trainFeatData.index)

In [16]:
print(trainFeatData.shape)
print(trainLabelData.shape)
print(testFeatData.shape)
print(testLabelData.shape)

(248833, 4)
(248833, 1)
(580613, 4)
(580613, 1)

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
model_method = DecisionTreeClassifier()

In [19]:
model = model_method.fit(X = trainFeatData,\
                         y = trainLabelData)

In [20]:
tree_pred = model.predict(X = testFeatData)

In [21]:
tree_pred = pd.DataFrame(tree_pred, columns=["tree_pred"])

In [31]:
tree_pred.drop_duplicates()

       tree_pred
0           급여계좌
5          주니어계좌
11          장기예금
552         신용카드
2796        펀드계좌
4583          증권
60969         대출
100038        연금

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
testLabelData = testLabelData.reset_index(drop=True)

In [25]:
score = accuracy_score(testLabelData, tree_pred)

In [26]:
score

0.4174518999746819