In [1]:
import pandas as pd
import numpy as np

In [2]:
baseData = pd.read_csv("../data/train_ver2.csv")

C:\Users\caose\AppData\Local\Temp\ipykernel_9256\3097669333.py:1: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  baseData = pd.read_csv("../data/train_ver2.csv")

In [3]:
len(baseData)
set1 = int(10796058/3)
set2 = int(10796058/3)*2
set3 = 10796058
data1 = baseData.loc[:set1-1]

In [4]:
data1 = data1.drop(['fecha_dato', 'ncodpers','ind_empleado','pais_residencia','fecha_alta','ind_nuevo','indrel','ult_fec_cli_1t',\
                    'conyuemp','canal_entrada','indfall','tipodom','cod_prov','nomprov','ind_actividad_cliente',\
                    'ind_aval_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1',\
                    'ind_ctpp_fin_ult1','ind_ecue_fin_ult1','ind_hip_fin_ult1',\
                    'ind_reca_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1',\
                    'ind_cco_fin_ult1','ind_cder_fin_ult1',"antiguedad",'indrel_1mes','tiprel_1mes'], axis=1)

In [5]:
# label이 될 컬럼을 상품명으로 변경
data1.loc[data1['ind_deco_fin_ult1'] == 1, 'ind_deco_fin_ult1'] = '단기예금'
data1.loc[data1['ind_deme_fin_ult1'] == 1, 'ind_deme_fin_ult1'] = '중기예금'
data1.loc[data1['ind_dela_fin_ult1'] == 1, 'ind_dela_fin_ult1'] = '장기예금'
data1.loc[data1['ind_ahor_fin_ult1'] == 1, 'ind_ahor_fin_ult1'] = '저축계좌'
data1.loc[data1['ind_cno_fin_ult1'] == 1, 'ind_cno_fin_ult1'] = '급여계좌'
data1.loc[data1['ind_ctju_fin_ult1'] == 1, 'ind_ctju_fin_ult1'] = '주니어계좌'
data1.loc[data1['ind_fond_fin_ult1'] == 1, 'ind_fond_fin_ult1'] = '펀드계좌'
data1.loc[data1['ind_plan_fin_ult1'] == 1, 'ind_plan_fin_ult1'] = '연금'
data1.loc[data1['ind_pres_fin_ult1'] == 1, 'ind_pres_fin_ult1'] = '대출'
data1.loc[data1['ind_tjcr_fin_ult1'] == 1, 'ind_tjcr_fin_ult1'] = '신용카드'
data1.loc[data1['ind_valo_fin_ult1'] == 1, 'ind_valo_fin_ult1'] = '증권'

In [6]:
data1 = data1.dropna()

In [7]:
oneStepDf = data1.copy()

In [8]:
oneStepDf

,sexo,age,indresi,indext,renta,segmento,ind_ahor_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,H,35,S,N,87218.10,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
1,V,23,S,S,35548.74,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0
2,V,23,S,N,122179.11,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0
3,H,22,S,N,119775.54,03 - UNIVERSITARIO,0,0,0,단기예금,0,0,0,0,0,0,0
5,H,23,S,N,22220.04,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598680,H,55,S,N,127957.14,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
3598681,H,42,S,N,80134.50,02 - PARTICULARES,0,급여계좌,0,0,0,0,0,0,0,신용카드,0
3598682,V,42,S,N,94597.11,02 - PARTICULARES,0,0,0,0,0,장기예금,0,0,0,0,0
3598684,H,68,S,N,119939.85,02 - PARTICULARES,0,0,0,0,0,장기예금,0,0,0,0,0
3598685,H,74,S,N,177266.52,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0

# 칼럼 처리

### 총소득

In [9]:
oneStepDf["renta"] = oneStepDf["renta"].astype(int)

In [10]:
print(min(oneStepDf.renta))
print(max(oneStepDf.renta))
# 3000000기준 5분위

1202
28894395

In [11]:
oneStepDf["renta"] = np.where(oneStepDf.renta<2999999,1,
                     np.where(oneStepDf.renta<5999999,2,
                     np.where(oneStepDf.renta<8999999,3,
                     np.where(oneStepDf.renta<1199999,4,
                     np.where(oneStepDf.renta<1499999,5,
                     np.where(oneStepDf.renta<1799999,6,
                     np.where(oneStepDf.renta<2099999,7,
                     np.where(oneStepDf.renta<2399999,8,
                     np.where(oneStepDf.renta<2699999,9,10)))))))))

### 나이

In [12]:
oneStepDf["age"] = oneStepDf["age"].astype(int)

In [13]:
print(max(oneStepDf["age"]))
print(min(oneStepDf["age"]))

116
2

In [14]:
oneStepDf["age"] = np.where(oneStepDf.age<9,0,
                   np.where(oneStepDf.age<19,1,
                   np.where(oneStepDf.age<29,2,
                   np.where(oneStepDf.age<39,3,
                   np.where(oneStepDf.age<49,4,
                   np.where(oneStepDf.age<59,5,
                   np.where(oneStepDf.age<69,6,
                   np.where(oneStepDf.age<79,7,
                   np.where(oneStepDf.age<89,8,
                   np.where(oneStepDf.age<99,9,10))))))))))

### 성별

In [15]:
oneStepDf.sexo = np.where(oneStepDf.sexo=='H', "1", "0")

In [16]:
oneStepDf.sexo = oneStepDf.sexo.astype(int)

In [17]:
oneStepDf.sexo.dtype

dtype('int32')

In [18]:
oneStepDf

,sexo,age,indresi,indext,renta,segmento,ind_ahor_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,1,3,S,N,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
1,0,2,S,S,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0
2,0,2,S,N,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0
3,1,2,S,N,1,03 - UNIVERSITARIO,0,0,0,단기예금,0,0,0,0,0,0,0
5,1,2,S,N,1,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598680,1,5,S,N,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0
3598681,1,4,S,N,1,02 - PARTICULARES,0,급여계좌,0,0,0,0,0,0,0,신용카드,0
3598682,0,4,S,N,1,02 - PARTICULARES,0,0,0,0,0,장기예금,0,0,0,0,0
3598684,1,6,S,N,1,02 - PARTICULARES,0,0,0,0,0,장기예금,0,0,0,0,0
3598685,1,7,S,N,1,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0

### 거주지 지수

In [19]:
dict = {"N":0, "S":1}

oneStepDf.indresi = oneStepDf.indresi.str.upper()
oneStepDf.indresi = oneStepDf.indresi.map(dict)

In [20]:
oneStepDf.indresi.unique()

array([1, 0], dtype=int64)

### 외국인 지수

In [21]:
dict = {"N":0, "S":1}

oneStepDf.indext = oneStepDf.indext.str.upper()
oneStepDf.indext = oneStepDf.indext.map(dict)

In [22]:
oneStepDf.indext.unique()

array([0, 1], dtype=int64)

### 고객 분류

In [23]:
oneStepDf.segmento = np.where( oneStepDf.segmento == '03 - UNIVERSITARIO', 0, 
                     np.where( oneStepDf.segmento == '01 - TOP', 1,
                     np.where( oneStepDf.segmento == '02 - PARTICULARES', 1, oneStepDf.segmento)))

In [24]:
oneStepDf.segmento = oneStepDf.segmento.astype(int)

In [25]:
oneStepDf.segmento.dtype

dtype('int32')

In [26]:
oneStepDf.dtypes

sexo                  int32
age                   int32
indresi               int64
indext                int64
renta                 int32
segmento              int32
ind_ahor_fin_ult1    object
ind_cno_fin_ult1     object
ind_ctju_fin_ult1    object
ind_deco_fin_ult1    object
ind_deme_fin_ult1    object
ind_dela_fin_ult1    object
ind_fond_fin_ult1    object
ind_plan_fin_ult1    object
ind_pres_fin_ult1    object
ind_tjcr_fin_ult1    object
ind_valo_fin_ult1    object
dtype: object

In [27]:
oneStepDf = oneStepDf.reset_index(drop=True)

In [28]:
oneStepDf

,sexo,age,indresi,indext,renta,segmento,ind_ahor_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_fond_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
0,1,3,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
1,0,2,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,2,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1,2,1,0,1,0,0,0,0,단기예금,0,0,0,0,0,0,0
4,1,2,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2966791,1,5,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2966792,1,4,1,0,1,1,0,급여계좌,0,0,0,0,0,0,0,신용카드,0
2966793,0,4,1,0,1,1,0,0,0,0,0,장기예금,0,0,0,0,0
2966794,1,6,1,0,1,1,0,0,0,0,0,장기예금,0,0,0,0,0
2966795,1,7,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0

In [29]:
### 라벨 생성

In [30]:
oneStepDf.columns

Index(['sexo', 'age', 'indresi', 'indext', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_fond_fin_ult1', 'ind_plan_fin_ult1', 'ind_pres_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1'],
      dtype='object')

In [31]:
# 라벨부분 컬럼
expandColumn = ['ind_ahor_fin_ult1', 'ind_cno_fin_ult1',\
                'ind_ctju_fin_ult1', 'ind_deco_fin_ult1', 'ind_deme_fin_ult1',\
                'ind_dela_fin_ult1', 'ind_fond_fin_ult1', 'ind_plan_fin_ult1',\
                'ind_pres_fin_ult1', 'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1']

In [37]:
# 컬럼
dataCol = ['sexo', 'age', 'indext', 'renta', 'segmento']

In [38]:
import tqdm

In [39]:
### 파일 불러오기

In [40]:
len(oneStepDf)

2966796

In [41]:
wholeList = []
for i in tqdm.tqdm(range(len(oneStepDf))):
    for j in expandColumn:
        rowList = []
        rowList.append(oneStepDf[j][i])
        for k in dataCol:
            rowList.append(oneStepDf[k][i])
        wholeList.append(rowList)
secondStepDf = pd.DataFrame(wholeList)

100%|██████████████████████████████████████████████████████████████████████| 2966796/2966796 [20:17<00:00, 2437.23it/s]

In [42]:
secondStepDf = secondStepDf.rename(columns={0:"product"})
secondStepDf = secondStepDf.rename(columns={1:"sexo"})
secondStepDf = secondStepDf.rename(columns={2:"age"})
secondStepDf = secondStepDf.rename(columns={3:"indext"})
secondStepDf = secondStepDf.rename(columns={4:"renta"})
secondStepDf = secondStepDf.rename(columns={5:"segmento"})

secondStepDf

         product  sexo  age  indext  renta  segmento
0              0     1    3       0      1         1
1              0     1    3       0      1         1
2              0     1    3       0      1         1
3              0     1    3       0      1         1
4              0     1    3       0      1         1
...          ...   ...  ...     ...    ...       ...
32634751       0     1    7       0      1         1
32634752       0     1    7       0      1         1
32634753       0     1    7       0      1         1
32634754       0     1    7       0      1         1
32634755       0     1    7       0      1         1

[32634756 rows x 6 columns]

In [44]:
secondStepDf

         product  sexo  age  indext  renta  segmento
0              0     1    3       0      1         1
1              0     1    3       0      1         1
2              0     1    3       0      1         1
3              0     1    3       0      1         1
4              0     1    3       0      1         1
...          ...   ...  ...     ...    ...       ...
32634751       0     1    7       0      1         1
32634752       0     1    7       0      1         1
32634753       0     1    7       0      1         1
32634754       0     1    7       0      1         1
32634755       0     1    7       0      1         1

[32634756 rows x 6 columns]

In [ ]:
secondStepDf.to_csv('../data/sub_test.csv', index=False)