In [1]:
import pandas as pd
import numpy as np

In [2]:
baseData = pd.read_csv("../data/test_ver2.csv")
baseData

C:\Users\caose\AppData\Local\Temp\ipykernel_14276\1328253085.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  baseData = pd.read_csv("../data/test_ver2.csv")

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
0,2016-06-28,15889,F,ES,V,56,1995-01-16,0,256,1,...,N,N,KAT,N,1,28.0,MADRID,1,326124.90,01 - TOP
1,2016-06-28,1170544,N,ES,H,36,2013-08-28,0,34,1,...,N,NaN,KAT,N,1,3.0,ALICANTE,0,NA,02 - PARTICULARES
2,2016-06-28,1170545,N,ES,V,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,15.0,"CORUÑA, A",1,NA,03 - UNIVERSITARIO
3,2016-06-28,1170547,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,8.0,BARCELONA,0,148402.98,03 - UNIVERSITARIO
4,2016-06-28,1170548,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,7.0,"BALEARS, ILLES",0,106885.80,03 - UNIVERSITARIO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929610,2016-06-28,660237,N,ES,V,55,1999-04-21,0,206,1,...,N,NaN,KAT,N,1,28.0,MADRID,1,128643.57,01 - TOP
929611,2016-06-28,660238,N,ES,V,30,2006-11-29,0,115,1,...,N,NaN,KFC,N,1,26.0,"RIOJA, LA",0,NA,02 - PARTICULARES
929612,2016-06-28,660240,N,ES,V,52,2006-11-29,0,115,1,...,N,NaN,KBZ,N,1,33.0,ASTURIAS,1,72765.27,02 - PARTICULARES
929613,2016-06-28,660243,N,ES,V,32,2006-11-29,0,115,1,...,N,NaN,KFC,N,1,33.0,ASTURIAS,0,147488.88,02 - PARTICULARES
929614,2016-06-28,660248,N,ES,V,92,2006-11-29,0,115,1,...,N,NaN,KAT,N,1,45.0,TOLEDO,0,NA,02 - PARTICULARES

In [4]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
baseData

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
0,2016-06-28,15889,F,ES,V,56,1995-01-16,0,256,1,NaN,1.0,A,S,N,N,KAT,N,1,28.0,MADRID,1,326124.90,01 - TOP
1,2016-06-28,1170544,N,ES,H,36,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KAT,N,1,3.0,ALICANTE,0,NA,02 - PARTICULARES
2,2016-06-28,1170545,N,ES,V,22,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KHE,N,1,15.0,"CORUÑA, A",1,NA,03 - UNIVERSITARIO
3,2016-06-28,1170547,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,8.0,BARCELONA,0,148402.98,03 - UNIVERSITARIO
4,2016-06-28,1170548,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,7.0,"BALEARS, ILLES",0,106885.80,03 - UNIVERSITARIO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929610,2016-06-28,660237,N,ES,V,55,1999-04-21,0,206,1,NaN,1.0,A,S,N,NaN,KAT,N,1,28.0,MADRID,1,128643.57,01 - TOP
929611,2016-06-28,660238,N,ES,V,30,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,26.0,"RIOJA, LA",0,NA,02 - PARTICULARES
929612,2016-06-28,660240,N,ES,V,52,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KBZ,N,1,33.0,ASTURIAS,1,72765.27,02 - PARTICULARES
929613,2016-06-28,660243,N,ES,V,32,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,33.0,ASTURIAS,0,147488.88,02 - PARTICULARES
929614,2016-06-28,660248,N,ES,V,92,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KAT,N,1,45.0,TOLEDO,0,NA,02 - PARTICULARES

In [5]:
baseData.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento'],
      dtype='object')

In [49]:
baseData.dtypes

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                        int64
fecha_alta                object
ind_nuevo                  int64
antiguedad                 int64
indrel                     int64
ult_fec_cli_1t            object
indrel_1mes              float64
tiprel_1mes               object
indresi                   object
indext                    object
conyuemp                  object
canal_entrada             object
indfall                   object
tipodom                    int64
cod_prov                 float64
nomprov                   object
ind_actividad_cliente      int64
renta                     object
segmento                  object
dtype: object

# 미사용 컬럼 처리

In [75]:
oneStepDf = baseData.drop(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia',
                           'fecha_alta', 'ind_nuevo', 'indrel', 'ult_fec_cli_1t',
                           'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
                           'nomprov', 'ind_actividad_cliente', 'antiguedad'],
      axis=1)

In [76]:
oneStepDf

,sexo,age,indrel_1mes,tiprel_1mes,indresi,indext,renta,segmento
0,V,56,1.0,A,S,N,326124.90,01 - TOP
1,H,36,1.0,I,S,N,NA,02 - PARTICULARES
2,V,22,1.0,A,S,N,NA,03 - UNIVERSITARIO
3,H,22,1.0,I,S,N,148402.98,03 - UNIVERSITARIO
4,H,22,1.0,I,S,N,106885.80,03 - UNIVERSITARIO
...,...,...,...,...,...,...,...,...
929610,V,55,1.0,A,S,N,128643.57,01 - TOP
929611,V,30,1.0,I,S,N,NA,02 - PARTICULARES
929612,V,52,1.0,A,S,N,72765.27,02 - PARTICULARES
929613,V,32,1.0,I,S,N,147488.88,02 - PARTICULARES
929614,V,92,1.0,A,S,N,NA,02 - PARTICULARES

# 상품명으로 컬럼값 변경

### 데이터에서 null처리

In [77]:
oneStepDf = oneStepDf.dropna()

In [78]:
oneStepDf = oneStepDf.reset_index(drop=True)

In [79]:
oneStepDf

,sexo,age,indrel_1mes,tiprel_1mes,indresi,indext,renta,segmento
0,V,56,1.0,A,S,N,326124.90,01 - TOP
1,H,36,1.0,I,S,N,NA,02 - PARTICULARES
2,V,22,1.0,A,S,N,NA,03 - UNIVERSITARIO
3,H,22,1.0,I,S,N,148402.98,03 - UNIVERSITARIO
4,H,22,1.0,I,S,N,106885.80,03 - UNIVERSITARIO
...,...,...,...,...,...,...,...,...
927334,V,55,1.0,A,S,N,128643.57,01 - TOP
927335,V,30,1.0,I,S,N,NA,02 - PARTICULARES
927336,V,52,1.0,A,S,N,72765.27,02 - PARTICULARES
927337,V,32,1.0,I,S,N,147488.88,02 - PARTICULARES
927338,V,92,1.0,A,S,N,NA,02 - PARTICULARES

# 칼럼 처리

### 총소득

In [80]:
oneStepDf.dtypes

sexo            object
age              int64
indrel_1mes    float64
tiprel_1mes     object
indresi         object
indext          object
renta           object
segmento        object
dtype: object

In [81]:
oneStepDf.renta = oneStepDf.renta.str.strip()

In [82]:
oneStepDf.loc[oneStepDf.renta=="NA", "renta"] = 0

In [83]:
oneStepDf["renta"] = oneStepDf["renta"].astype(float)
oneStepDf["renta"] = oneStepDf["renta"].astype(int)

In [84]:
print(min(oneStepDf.renta))
print(max(oneStepDf.renta))
# 3000000기준 5분위

0
28894395

In [85]:
oneStepDf["renta"] = np.where(oneStepDf.renta<599999,1,
                     np.where(oneStepDf.renta<1190000,2,
                     np.where(oneStepDf.renta<1799999,3,
                     np.where(oneStepDf.renta<2399999,4,5))))

### 나이

In [86]:
oneStepDf["age"] = oneStepDf["age"].astype(int)

In [87]:
print(max(oneStepDf["age"]))
print(min(oneStepDf["age"]))

164
2

In [88]:
oneStepDf["age"] = np.where(oneStepDf.age<9,0,
                   np.where(oneStepDf.age<19,1,
                   np.where(oneStepDf.age<29,2,
                   np.where(oneStepDf.age<39,3,
                   np.where(oneStepDf.age<49,4,
                   np.where(oneStepDf.age<59,5,
                   np.where(oneStepDf.age<69,6,
                   np.where(oneStepDf.age<79,7,
                   np.where(oneStepDf.age<89,8,
                   np.where(oneStepDf.age<99,9,10))))))))))

### 성별

In [89]:
oneStepDf.sexo = np.where(oneStepDf.sexo=='H', "1", "0")

In [90]:
oneStepDf.sexo = oneStepDf.sexo.astype(int)

In [91]:
oneStepDf.sexo.dtype

dtype('int32')

### 월 초 고객 유형

In [92]:
# 기존
baseData.indrel_1mes.drop_duplicates()

0         1.0
64156     3.0
314506    NaN
Name: indrel_1mes, dtype: float64

In [93]:
# 1차 수정
oneStepDf.indrel_1mes.drop_duplicates()

0         1.0
310725    3.0
Name: indrel_1mes, dtype: float64

In [94]:
oneStepDf.indrel_1mes.unique()

array([1., 3.])

In [95]:
oneStepDf.indrel_1mes = oneStepDf.indrel_1mes.astype(float)
oneStepDf.indrel_1mes = oneStepDf.indrel_1mes.astype(int)

In [96]:
oneStepDf.indrel_1mes.dtype

dtype('int32')

### 월 초 고객 관계 유형

In [97]:
dict = {"I":0, "A":1, "P":2,"R":3, "N":4}

In [98]:
oneStepDf.tiprel_1mes = oneStepDf.tiprel_1mes.str.upper()
oneStepDf.tiprel_1mes = oneStepDf.tiprel_1mes.map(dict)

In [99]:
oneStepDf.tiprel_1mes.dtype

dtype('int64')

### 거주지 지수

In [100]:
dict = {"N":0, "S":1}

oneStepDf.indresi = oneStepDf.indresi.str.upper()
oneStepDf.indresi = oneStepDf.indresi.map(dict)

In [101]:
oneStepDf.indresi.unique()

array([1, 0], dtype=int64)

### 외국인 지수

In [102]:
dict = {"N":0, "S":1}

oneStepDf.indext = oneStepDf.indext.str.upper()
oneStepDf.indext = oneStepDf.indext.map(dict)

In [103]:
oneStepDf.indext.unique()

array([0, 1], dtype=int64)

### 고객 분류

In [104]:
oneStepDf.segmento = np.where( oneStepDf.segmento == '03 - UNIVERSITARIO', 0, 
                     np.where( oneStepDf.segmento == '01 - TOP', 1,
                     np.where( oneStepDf.segmento == '02 - PARTICULARES', 1, oneStepDf.segmento)))

In [105]:
oneStepDf.segmento = oneStepDf.segmento.astype(int)

In [106]:
oneStepDf.segmento.dtype

dtype('int32')

In [107]:
oneStepDf.dtypes

sexo           int32
age            int32
indrel_1mes    int32
tiprel_1mes    int64
indresi        int64
indext         int64
renta          int32
segmento       int32
dtype: object

In [108]:
oneStepDf = oneStepDf.reset_index(drop=True)

# 라벨 통합

In [109]:
import tqdm

In [110]:
oneStepDf.columns

Index(['sexo', 'age', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'renta', 'segmento'],
      dtype='object')

In [116]:
oneStepDf.to_csv("../data/testData.csv", index = False)